.services {
    position: relative;
    z-index: 2;

    &-item {
        display: inline-flex;
        margin-top: 30px;
        color: white;

        &:hover {
            .services-item__image {
                transform: scale(1.05);
            }

            .services-item__wrapper:before {
                opacity: 0;
            }
        }

        &__wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 14% 14% 56% 14%;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: block;
                transition: 0.3s;
                opacity: 1;
                // background: $main;
                background-image: linear-gradient(
                    116.23deg,
                    rgba(82, 92, 114, 0.6) 0%,
                    rgba(30, 66, 143, 0.04) 100%
                );
            }
        }

        &__title {
            position: relative;
            z-index: 1;
        }

        &__image {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .services-item {
        &__wrapper {
            padding: 40px 50px 240px;
        }
    }
}

@media screen and (max-width: 767px) {
    .services-item {
        &__wrapper {
            padding: 14% 14% 56% 14%;
        }
    }
}

@media screen and (max-width: 565px) {
    .services-item {
        margin-top: 20px;
    }
}
