section.partnership.section-offset
    .partnership__container.container
        .partnership__wrapper.row
            .partnership__image.col-md-6(data-aos="fade-up")
                img(src="./img/about/petr_partners.png", alt="petr_partners.png")
            .partnership__content.col-md-6(data-aos="fade-left")
                .partnership__text
                    h5.title.title-offset Приглашаем к партнерству
                    i “Мы заинтересованы в долгосрочных партнерских отношениях, основанных на уважении, доверии и взаимопомощи.
                    i Мы постоянно привлекаем к взаимовыгодному сотрудничеству различные компании, среди которых: потребители наших услуг, потенциальные инвесторы, поставщики товаров и услуг в России и за её пределами, государственные и общественные организации.
                    i Также мы рассматриваем сотрудничество с компаниями и частными лицами работающими над перспективными проектами требующими поддержки. Мы готовы оказывать консультационную и финансовую поддержку для интересных проектов.”
                    p.text-larger.partnership__name Плаксин Пётр Алексеевич
                    p.partnership__position коммерческий директор компании Русэкспорт
                    a(href="").button.button--action Как стать нашим партнером?
