.partnership {
    overflow: hidden;

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            position: absolute;
            right: -100px;
            bottom: 0;
            width: 1100px;
            height: 316px;
            display: block;
            background: #f5f5f5;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 281px;
            height: 540px;
            display: block;
            transform: translateX(-50%);
            background: #eceff5;
        }

        img {
            position: relative;
            z-index: 2;
        }
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__text {
        i {
            display: block;
            padding-bottom: 30px;
        }
    }

    &__position {
        margin-bottom: 50px;
        color: #7e8aa3;
    }
}

@media screen and (max-width: 1400px) {
    .partnership {

    }
}
@media screen and (max-width: 768px) {
    .partnership__text {
        .title-offset {
            padding-top: 15px;
        }
    }
}