.codex-accordion.codex-accordion--first-level.accordion.accordion--active(style="height: auto;")
    .codex-accordion__button.link.accordion__button.accordion__button--active
        span I. Общие положения
        +icon('drop-down-triangle','')
    .codex-accordion__content
        .codex-accordion.codex-accordion--second-level.accordion.accordion--active(style="height: auto;")
            .codex-accordion__button.accordion__button.accordion__button--active
                span Глава 1. Основные положения о таможенном регулировании в Евразийском экономическом союзе
                +icon('drop-down-triangle','')
            .codex-accordion__content.accordion__content
                a(href="./information-tamozhny-detailed.html").is-active Статья 1. Таможенное регулирование в Евразийском экономическом союзе
                a(href="./information-tamozhny-detailed.html") Статья 2. Определения
                a(href="./information-tamozhny-detailed.html") Статья 3. Информирование о международных договорах и актах в сфере таможенного регулирования
                a(href="./information-tamozhny-detailed.html") Статья 4. Порядок исчисления сроков, устанавливаемых международными договорами и актами в сфере таможенного регулирования
                a(href="./information-tamozhny-detailed.html") Статья 5. Таможенная территория Союза и таможенная граница Союза
                a(href="./information-tamozhny-detailed.html") Статья 6. Применение мер таможенно-тарифного регулирования, запретов и ограничений, мер защиты внутреннего рынка, международных договоров и актов в сфере таможенного регулирования, законодательных актов государств-членов в сфере налогообложения
                a(href="./information-tamozhny-detailed.html") Статья 7. Соблюдение запретов и ограничений
                a(href="./information-tamozhny-detailed.html") Статья 8. Таможенные документы
        .codex-accordion.codex-accordion--second-level.accordion
            .codex-accordion__button.accordion__button
                span Глава 2. Общие положения о перемещении товаров через таможенную границу Союза, владении, пользовании и (или) распоряжении ими на таможенной территории Союза или за ее пределами
                +icon('drop-down-triangle','')
            .codex-accordion__content.accordion__content
                a(href="./information-tamozhny-detailed.html") Статья 9. Перемещение товаров через таможенную границу Союза
                a(href="./information-tamozhny-detailed.html") Статья 10. Места перемещения товаров через таможенную границу Союза
                a(href="./information-tamozhny-detailed.html") Статья 11. Представление таможенным органам предварительной информации
                a(href="./information-tamozhny-detailed.html") Статья 12. Соблюдение запретов и ограничений при перемещении товаров через таможенную границу Союза
                a(href="./information-tamozhny-detailed.html") Статья 13. Владение, пользование и (или) распоряжение товарами на таможенной территории Союза или за ее пределами
                a(href="./information-tamozhny-detailed.html") Статья 14. Нахождение товаров под таможенным контролем
                a(href="./information-tamozhny-detailed.html") Статья 15. Товары, пришедшие в негодность, испорченные или поврежденные
                a(href="./information-tamozhny-detailed.html") Статья 16. Иностранные товары, которые по решению суда конфискованы или обращены в собственность (доход) государства-члена или на которые обращено взыскание
                a(href="./information-tamozhny-detailed.html") Статья 17. Отбор проб и (или) образцов товаров заинтересованными лицами и государственными органами государств-членов
                a(href="./information-tamozhny-detailed.html") Статья 18. Представление таможенным органам отчетности