.special-offers {
	&-item {
		margin-bottom: 30px;
		&__wrapper {
			position: relative;
		}
		&__image {
			position: relative;
			height: 210px;
			width: 100%;
			margin-bottom: 30px;
			flex: 0 0 auto;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__date {
			margin-bottom: 12px;
		}
		&__title {
			margin-bottom: 10px;
		}
		&__mark {
			position: absolute;
			left: 0;
			background: $red;
			color: white;
			font-weight: 900;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			top: 20px;
			padding: 6px 10px 6px 14px;
			height: 40px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			&:after {
				content: '';
				position: absolute;
				right: -20px;
				top: 0;
				display: block;
				border: 12px solid transparent;
				border-top: 12px solid $red;
				border-left: 12px solid $red;
			}
			&:before {
				content: '';
				position: absolute;
				right: -20px;
				bottom: 0;
				display: block;
				border: 12px solid transparent;
				border-bottom: 12px solid $red;
				border-left: 12px solid $red;
			}
		}
	}
}
