.special-offers {
	&-item {
		margin-bottom: 30px;
		&__wrapper {
			position: relative;
		}
		&__image {
			position: relative;
			height: 210px;
			width: 100%;
			margin-bottom: 30px;
			flex: 0 0 auto;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__date {
			margin-bottom: 12px;
		}
		&__title {
			margin-bottom: 10px;
		}
		&__mark {
			position: absolute;
			left: 0;
			background: $red;
			color: white;
			font-weight: 900;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			top: 20px;
			padding: 6px 10px 6px 14px;
			height: 40px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			&:after {
				content: '';
				position: absolute;
				right: -20px;
				top: 0;
				display: block;
				border: 12px solid transparent;
				border-top: 12px solid $red;
				border-left: 12px solid $red;
			}
			&:before {
				content: '';
				position: absolute;
				right: -20px;
				bottom: 0;
				display: block;
				border: 12px solid transparent;
				border-bottom: 12px solid $red;
				border-left: 12px solid $red;
			}
		}
	}
}


.special-offer {
	&__back {
		a {
			display: flex;
			align-items: center;
			color: $main;
			margin-top: 20px;
			margin-bottom: 30px;
			.icon {
				margin-right: 20px;
				flex: 0 0 auto;
				fill: $main;
				font-size: 20px;
			}
		}
	}
	&__header {
		color: white;
		margin-bottom: 60px;
		text-align: center;
		&-wrapper {
			padding-top: 68px;
			padding-bottom: 90px;
			position: relative;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			&:before {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				background: rgba(0,0,0,0.6);
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
			}

		}
		&-content {
			position: relative;
			z-index: 2;
		}
	}
	&__date {
		color: #BBBFC7;
	}
	&__content {
		> *:not(:last-child) {
			padding-bottom: 30px
		}
		ul {
				list-style: none;
				li:before {
					content:  "—";
					position: relative;
					margin-right: 10px;
				}
		}
	}
	&__form {
		margin-top: 120px;
	}
}