mixin special-offers-item(classes)
	a(href="./special-offer.html", class="special-offers-item " + classes +"")
		.special-offers-item__wrapper
			.special-offers-item__image
				.special-offers-item__mark
					span Акция
				img(src="./img/special-offers/special-offers-1.jpg", alt="special-offers-1.jpg")
			.special-offers-item__content
				.special-offers-item__date.text-mini Среда, 04 сентября 2019 13:06
				h2.special-offers-item__title.subtitle Заголовок акции
				p.special-offers-item__description.text-big-lh Нотификация - это документ, уведомляющий о криптографических характеристиках устройства, составленный по установленной форме, заверенный печатью и подписью центра по лицензированию...


