.special-offer
	.special-offer__back.col-12
		a(href="/").text-larger.text-bold
			+icon('arrow-left', '')
			span Все акции
	.special-offer__header.col-12(style="background-image: url('./img/special-offers/special-offers.jpg')")
		.special-offer__date Среда, 04 сентября 2019 13:06
		h1.title Акция
	.special-offer__content.col-9
		p Нотификация - это документ, уведомляющий о криптографических характеристиках устройства, составленный по установленной форме, заверенный печатью и подписью центра по лицензированию, сертификации и защите государственной тайны ФСБ РФ. Нотификации присваивается номер, под которым она заносится в реестр нотификаций евразийского таможенного союза.
		p Документ включает в себя сведения о товаре:
		ul
			li название
			li назначение
			li изготовитель
			li используемые криптографические алгоритмы
			li неописанные функциональные возможности
		p Нотификация нужна для таможенного оформления не только для специальных шифровальных устройств, но и для бытовой электроники, в состав которой могут входить элементы, использующие шифрование. Например, в бытовом электронном устройстве может присутствовать преобразователь сигналов, который есть в мобильных телефонах и компьютерах. Список товаров утверждён Решением Коллегии ЕЭК от 21.04.2015 N 30.
		p Перед ввозом или вывозом товара нужно проверить, требуется ли на него оформлять нотификацию. Если товар уже присутствует в реестре таможенных нотификаций, то оформлять документ не нужно.
