.article
    +toAllLink('Все акции', './special-offers.html')
    .article__header.col-12
        .article__header-wrapper(style="background-image: url('./img/special-offers/special-offers-1.jpg')")
            .article__header-content
                .article__date Среда, 04 сентября 2019 13:06
                h1.title Акция
    .article__content.col-md-9.text-big-lh.col--center(data-aos="fade-up")
        p Нотификация - это документ, уведомляющий о криптографических характеристиках устройства, составленный по установленной форме, заверенный печатью и подписью центра по лицензированию, сертификации и защите государственной тайны ФСБ РФ. Нотификации присваивается номер, под которым она заносится в реестр нотификаций евразийского таможенного союза.
        p Документ включает в себя сведения о товаре:
        ul
            li название
            li назначение
            li изготовитель
            li используемые криптографические алгоритмы
            li неописанные функциональные возможности
        p Нотификация нужна для таможенного оформления не только для специальных шифровальных устройств, но и для бытовой электроники, в состав которой могут входить элементы, использующие шифрование. Например, в бытовом электронном устройстве может присутствовать преобразователь сигналов, который есть в мобильных телефонах и компьютерах. Список товаров утверждён Решением Коллегии ЕЭК от 21.04.2015 N 30.
        p Перед ввозом или вывозом товара нужно проверить, требуется ли на него оформлять нотификацию. Если товар уже присутствует в реестре таможенных нотификаций, то оформлять документ не нужно.
    .article__form.form-bottom.col-md-9.col--center
        include ../../modules/form/form
        +form('Оставьте заявку на консультацию','form',[
            {
                'label' : 'Имя',
                'name' : 'name',
                'type' : 'text',
            },
            {
                'label' : 'Телефон',
                'name' : 'phone',
                'type' : 'tel',
            },
            {
                'label' : 'E-mail',
                'name' : 'email',
                'type' : 'email',
            },
            {
                'label' : 'Сообщение',
                'name' : 'message',
                'type' : 'textarea',
            },],
            {},
            {
                'text' : 'Согласен на обработку персональных данных.',
                'link' : {
                    'title' : 'Политика конфиденциальности',
                    'href' : '/politic'
                },
                'name' : 'politic'
            },
            'Отправить'
        )