@mixin transition {
    transition: 0.2s;
}   

.header {
    height: $header;
    width: 100%;
    background: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(8px);
    backdrop-filter: saturate(180%) blur(8px);
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    &:before {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        content: '';
        height: 100%;
        width: 100%;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    }
    &__wrapper {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > * {
            height: 100%;
        }
    }
    &__logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 140px;
    }
    &__menu {
        > nav {
            height: 100%;
            ul {
                list-style: none;
            }
            > ul {
                height: 100%;
                display: flex;
                align-items: center;
                > li {
                    position: relative;
                    height: 100%;
                    > a {
                        z-index: 1;
                        display: inline-flex;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        padding: 0 18px;
                    }
       
                    .dropdown-menu {
                        z-index: 0;
                        position: absolute;
                        left: 0;
                        min-width: 700px;
                        padding: 50px;
                        .subtitle {
                            display: inline-block;
                            margin-bottom: 24px;
                        }
                        ul {
                            column-count: 2;
                            column-fill: balance;
                            border-left: 2px solid #F2F4F8;
                            padding-left: 18px;
                            li {
                                page-break-inside: avoid;
                                width: 100%;
                                display: block;
                                margin-bottom: 24px;
                                a {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    @include transition;
                                    &:before {
                                        content: '';
                                        height: 0px;
                                        width: 0px;
                                        flex: 0 0 auto;
                                        position: absolute;
                                        left: 0;
                                        @include transition;
                                        top: 14px;
                                        background: $hover;
                                        display: inline-flex;
                                    }
                                    &:hover {
                                        color: $hover;
                                        padding-left: 15px;
                                        &:before {
                                            width: 3px;
                                            height: 3px;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            color: $main;
                            &:hover {
                                color: $hover;
                            }
                        }
                    }
                }
            }
        }
    }
    &__languages {
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        align-items: center;
        a {
            padding: 0px 8px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-phone {
        position: relative;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: 190px;
        &__trigger {
            height: 100%;
            width: 100%;
            padding-left: 22px;
            padding-right: 22px;
            justify-content: center;
        }
        &-item {
            display: flex;
            flex-direction: column;
            > * {
                display: block;
                line-height: 1;
            }
            &__label {
                cursor: pointer;
                font-size: 12px;
                padding-bottom: 9px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-all {
            position: absolute;
            right: 0;
            top: $header;
            width: 100%;
            height: 300px;
            > * {
                &:not(:last-of-type) {
                    border-bottom: 1px solid $grey;
                }
            }
            .header-phone-item {
                padding: 18px 22px;
            }
            .header-phone-item:hover {
                background: $hover;
                color: white;
            }
            &__wrapper {
                height: 100%;
                width: 100%;
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        > * {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .link {
            height: 100%;
            width: 70px;
            .icon {
                width: 0.7em;
                fill: $main;
            }
            &:hover {
                background: white;
                &:after {
                    opacity: 1;
                }
                .icon {
                    fill: $hover;
                }
            }
        }
    }
    &-search {
        position: relative;
        display: flex;
        align-items: center;
        &__form {
            position: absolute;
            right: 0;
            top: 0;
            width: 350px;
        }
        &__container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }
        &__input {
            padding: 10px 0;
            border-color: transparent; 
            border-bottom: 1px solid $grey;
            width: 100%;
            margin: 0px 10px 0px 20px;
            
        }
        &__submit {
            height: 100%;
            width: 110px;
            color: $main;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            flex: 0 0 auto;
            margin-left: auto;
            .icon {
                fill: $main;
                flex: 0 0 auto;
                margin-right: 8px;
                width: 0.4em;
                @include transition;
            }
            &:hover {
                background: $main;
                color: white;
                .icon {
                    fill: white;
                }
            }
        }
    }
    .icon-down-menu {
        width: 0.8em;
        margin-left: 10px;
    }
    .link {
        @include transition;
        border: none;
        cursor: pointer;
        background: none;
        position: relative;
        &:after {
            width: 100%;
            height: 3px;
            @include transition;
            display: block;
            right: 0;
            bottom: 0;
            background: $main;
            content: '';
            opacity: 0;
            position: absolute;
        }
        &:hover {
            .dropdown-menu {
               opacity: 1;
               transform: translateY(0px);
               pointer-events: auto;
               > * {
                   opacity: 1;
                   transform: translateY(0);
               }
           }
       }
        &--active,&.dropdown-trigger--active , &:hover {
            background: white;
            color: $hover;
            &:after {
                opacity: 1;
            }
            .icon-down-menu {
                fill: $hover;
            }
        }
    }
    .dropdown-menu {
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        transform: translateY(10px);
        transition: 0.3s;
        background: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: saturate(180%) blur(8px);
        top: $header;
        > * {
            transition: 0.2s 0.1s;
            transform: translateY(20px);
            opacity: 0;
        }
        &--active {
            opacity: 1;
            transform: translateY(0px);
            pointer-events: auto;
            > * {
                opacity: 1;
                transform: translateY(0);
            }     
        }
    }
      
}
*.-morulus-customsb {
    position:relative;
    width:100%;height:100%;
    overflow:hidden;
  }
  
  *.-morulus-customsb > figure:first-child {  
    margin: 0px !important;
    position: absolute;
    right: 4px !important;
    width: 4px !important;
    height: 100px;
    background-color: black;
  }
  
  *.-morulus-customsb > *:last-child {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    padding-right: 20px;
  }