@mixin transition {
    transition: 0.2s;
}   

.header {
    height: $header;
    width: 100%;
    position: sticky;
    z-index: 10;
    left: 0;
    top: 0;
    &:before {
         position: absolute;
         z-index: 1;
         transition: 0.3s ease-in-out;
         right: 0;
         top: 0%;
         transform: translateY(-100%);
         background: rgba(255,255,255,0.8);
         display: block;
         content: '';
         height: 100%;
         width: 100%;
         opacity: 0;
         -webkit-backdrop-filter: saturate(180%) blur(8px);
         backdrop-filter: saturate(180%) blur(8px);
         box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
     }
    &--fixed,&:hover {
         &:before {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    &__wrapper {
        position: relative;
        z-index: 2;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > * {
            height: 100%;
        }
    }
    &__logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__menu {
        margin-left: -34px;
        > nav {
            height: 100%;
            ul {
                list-style: none;
            }
            > ul {
                height: 100%;
                display: flex;
                align-items: center;
                > li {
                    position: relative;
                    height: 100%;
                    > a {
                        z-index: 1;
                        display: inline-flex;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        padding: 0 18px;
                    }
                    .dropdown-menu {
                        z-index: 0;
                        position: absolute;
                        left: 0;
                        min-width: 700px;
                        padding: 50px;
                        .subtitle {
                            display: inline-block;
                            margin-bottom: 24px;
                        }
                        ul {
                            column-count: 2;
                            column-fill: balance;
                            border-left: 2px solid #F2F4F8;
                            padding-left: 18px;
                            li {
                                page-break-inside: avoid;
                                width: 100%;
                                display: block;
                                margin-bottom: 24px;
                                a {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    @include transition;
                                    transform: translateX(0);
                                    &:before {
                                        content: '';
                                        height: 0px;
                                        width: 0px;
                                        flex: 0 0 auto;
                                        position: absolute;
                                        left: 0;
                                        @include transition;
                                        top: 10px;
                                        background: $hover;
                                        display: inline-flex;
                                    }
                                    &:hover {
                                        color: $hover;
                                        transform: translateX(15px);
                                        &:before {
                                            transform: translateX(-15px);
                                            width: 3px;
                                            height: 3px;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            color: $main;
                            &:hover {
                                color: $hover;
                            }
                        }
                    }
                }
            }
        }
    }
    &__languages {
        display: flex;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: normal;
        font-style: normal;
        align-items: center;
        a {
            padding: 0px 8px;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .is-active {
           color: $main;
       }
    }

    &-phone {
        position: relative;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        width: 190px;
        &__trigger {
          height: 100%;
          cursor: pointer;
          width: 100%;
          padding-left: 22px;
          padding-right: 22px;
          justify-content: center;
      }
      &-item {
        display: flex;
        transition: 0.3s;
        flex-direction: column;
        > * {
            display: block;
            line-height: 1;
        }
        &__label {
            cursor: pointer;
            font-size: 12px;
            line-height: 1.4;
            padding-bottom: 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-all {
        position: absolute;
        right: 0;
        top: $header;
        width: 100%;
        height: 290px;
        .header-phone-item {
            min-height: 72px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 22px;
            padding-right: 22px;
            position: relative;
            border-bottom: 1px solid $grey;
            &:before {
               content: '';
               display: block;
               position: absolute;
               left: 0;
               bottom: 0;
               z-index: 0;
               background: $hover;
               width: 0%;
               transition: 0.3s;
               height: 2px;
           }
               > * {
                   position: relative;
                   z-index: 1;
               }
           }
            .header-phone-item:hover {
                 color: $hover;
             }
             &__wrapper {
                height: 100%;
                width: 100%;
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        > * {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0;
        }
        .link-nav {
            cursor: pointer;
            height: 100%;
            width: 70px;
            .icon {
                font-size: 40px;
                fill: $main;
            }
            &:hover {
                background: white;
                &:after {
                    opacity: 1;
                }
                .icon {
                    fill: $hover;
                }
            }
        }
    }
    &-search {
        position: relative;
        display: flex;
        align-items: center;
        &__form {
            position: absolute;
            right: 0;
            top: 0;
            width: 350px;
        }
        &__container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }
        &__input {
            padding: 10px 0;
            border-color: transparent; 
            border-bottom: 1px solid $grey;
            width: 100%;
            margin: 0px 10px 0px 20px;

        }
        &__submit {
            height: 100%;
            width: 110px;
            color: $main;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            flex: 0 0 auto;
            margin-left: auto;
            .icon {
                fill: $main;
                flex: 0 0 auto;
                margin-right: 8px;
                width: 0.4em;
                @include transition;
            }
            &:hover {
                background: $main;
                color: white;
                .icon {
                    fill: white;
                }
            }
        }
    }
    .icon-drop-down-triangle {
        width: 0.8em;
        margin-left: 10px;
    }
    .link-nav {
            @include transition;
            border: none;
            background: none;
            position: relative;
            &:after {
                width: 100%;
                height: 3px;
                @include transition;
                display: block;
                right: 0;
                bottom: 0;
                background: $main;
                content: '';
                opacity: 0;
                position: absolute;
            }
            &:hover {
                .dropdown-menu {
                 opacity: 1;
                 transform: translateY(0px);
                 pointer-events: auto;
                 > * {
                     opacity: 1;
                     transform: translateY(0);
                 }
             }
         }
         &--active,&.dropdown-trigger--active , &:hover {
            background: white;
            color: $hover;
            &:after {
                opacity: 1;
            }
            .icon {
                fill: $hover;
            }
        }
    }
    .notebook-link,.mobile-link {
        display: none;
    }
    .dropdown-menu {
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            transform: translateY(10px);
            transition: 0.3s;
            background: white;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            backdrop-filter: saturate(180%) blur(8px);
            top: $header;
            > * {
                transition: 0.2s 0.1s;
                transform: translateY(20px);
                opacity: 0;
            }
            &--active {
                opacity: 1;
                transform: translateY(0px);
                pointer-events: auto;
                > * {
                    opacity: 1;
                    transform: translateY(0);
                }     
            }
        }
}



@media screen and (max-width: 1600px) {
    .header {
        &__menu {
            margin-left: 0;
            > nav {
                > ul {
                    > li {
                        > a {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
        &__buttons {
            .link-nav {
                width: 56px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .header {
        &__wrapper {
            max-width: 1180px;
        }
        &__menu {
            .notebook-link {
                display: list-item;
            }
            > nav {
                > ul {
                    > li {
                        > a {
                            padding: 0 14px;
                        }
                    }
                }
            }
        }
        .desktop-link {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__logo {
            margin-right: auto;
        }
        &__menu {
            display: none;
        }
        &__languages {
            display: none;
        }
    }
}


@media screen and (max-width: 767px) {
    .header {
        height: 70px;
        &-phone {
            display: none;
        }
        &__buttons {
            margin-right: -10px;
            .link-nav {
                width: 50px;
                .icon {
                    font-size: 30px;
                }
            }
        }
        &-search {
            position: static;
            &__form {
                width: 100%;
            }
        }
        .dropdown-menu {
            top: 70px;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
        }
        .mobile-link {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }
    }
}