header.header
    .header__wrapper
        a(href="/").header__logo
            img(src="./img/logo.png", alt="РусЭкспорт логотип")
        .header__menu
            nav
                ul
                    li
                        a(href="") О компании
                    li.has-dropdown.dropdown-trigger
                        a(href="") 
                            span Экспорт
                            +icon('down-menu','')
                        .dropdown-menu
                            a(href="").subtitle Экспорт из России
                            ul
                                li
                                    a(href="") Заключение контрактов и согласование условий поставки
                                li
                                    a(href="") Таможенное оформление и сертификация
                                li
                                    a(href="") Доставка товара иностранному покупателю
                                li
                                    a(href="") Завершение сделки
                                li
                                    a(href="") Документы для Экспорта
                                li
                                    a(href="") Поиск поставщиков
                                li
                                    a(href="") Продвижение российских товаров на зарубежных рынках
                                li
                                    a(href="") Реэкспорт
                                li
                                    a(href="") Временный вывоз
                                li
                                    a(href="") Переработка вне таможенной территории
                                li
                                    a(href="") Таможенный транзит
                    li.has-dropdown.dropdown-trigger
                        a(href="") 
                            span Импорт
                            +icon('down-menu','')
                        .dropdown-menu
                            a(href="").subtitle Импорт из России
                            ul
                                li
                                    a(href="") Заключение контрактов и согласование условий поставки
                                li
                                    a(href="") Таможенное оформление и сертификация
                                li
                                    a(href="") Доставка товара иностранному покупателю
                                li
                                    a(href="") Завершение сделки
                                li
                                    a(href="") Документы для Импора
                                li
                                    a(href="") Поиск поставщиков
                                li
                                    a(href="") Продвижение российских товаров на зарубежных рынках
                                li
                                    a(href="") РеИмпорт
                    li.has-dropdown.dropdown-trigger
                        a(href="") 
                            span Грузоперевозки
                            +icon('down-menu','')
                        .dropdown-menu
                            a(href="").subtitle Грузоперевозки из России
                            ul
                                li
                                    a(href="") Заключение контрактов и согласование условий поставки
                                li
                                    a(href="") Таможенное оформление и сертификация
                                li
                                    a(href="") Временный вывоз
                                li
                                    a(href="") Переработка вне таможенной территории
                                li
                                    a(href="") Таможенный транзит
                    li
                        a(href="") Таможенное оформление
                    li
                        a(href="") Контакты
        .header__languages
            a(href="") RUS
            a(href="") En
            a(href="") 中文
        .header__contacts
            .header-phone.dropdown-trigger
                .header-phone-item.header-phone__trigger
                    .header-phone-item__label 
                        span Телефон в Москве
                         +icon('down-menu','')
                    a(href="").header-phone-item__number +7 (495) 795-16-80
                .header-phone-all.dropdown-menu
                    .header-phone-item
                        .header-phone-item__label 
                            span Телефон в Москве
                        a(href="").header-phone-item__number +7 (495) 795-16-80
                    .header-phone-item
                        .header-phone-item__label 
                            span Телефон в Москве
                        a(href="").header-phone-item__number +7 (495) 795-16-80
                    .header-phone-item
                        .header-phone-item__label 
                            span Телефон в Москве
                        a(href="").header-phone-item__number +7 (495) 795-16-80
                    .header-phone-item
                        .header-phone-item__label 
                            span Телефон в Москве
                        a(href="").header-phone-item__number +7 (495) 795-16-80
        .header__search
            button.button.button-search
                i.icon-search
            form(action="./search.html").search
                .search__container
                    input(type="text",placeholder="Введите запрос").search__input
                    button(type="submit").button.button--border Найти
                    button(type="submit").button.button--action.search__button
                        i.icon-search