.video-about {
	position: relative;
	overflow: hidden;
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before {
			content: '';
			background: rgbA(0,0,0,0.6);
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
	&__content {
		color: white;
		padding-top: 200px;
		padding-bottom: 230px;	
	}
}