.address-map {
	&__content {
		position: relative;
	}
	&__image {
	}
	&__list {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		a {
			position: absolute;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			font-weight: bold;
			max-width: 48px;
			font-size: 8px;
			color: black;
			text-decoration: none;
			&:before {
				flex: 0 0 auto;
				content: '';
				display: block;
				height: 8px;
				width: 8px;
				margin-right: 6px;
				background: black;
				border: 2px solid white;
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}
	&-popup {
		position: absolute;
		left: 0;
		opacity: 0;
		top: 0;
		z-index: 2;
		margin-left: 40px;
		pointer-events: none;
		&:hover {
			opacity: 1;
			pointer-events: auto;
		}
		&__wrapper {
			height: 100px;
			width: 100px;
			background: white;
		}
	}
}