section.keypoints.keypoints--export.section-offset(data-aos="fade-up")
    .keypoints__container
        .keypoints__header.row.row--center
            .keypoints__title.col-12.col-md-6.col-lg-6
                h3.subtitle Комплексная услуга экспорта
        .keypoints__content.row.row--center
            .keypoints__background.col-9.col-sm-3.col-md-6.col-lg-6.col-xl-9
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/tablet.png", alt="tablet")
                    .item__text-wrapper
                        .item__title
                            h4 Заключение контрактов и&nbsp;согласование условий
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore deserunt eveniet quam doloribus explicabo!
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
                a.item__wrapper(href="./services-tamozhennoe-oformlenie.html")
                    .item__img
                        img(src="./img/keypoints/books.png", alt="books")
                    .item__text-wrapper
                        .item__title
                            h4 Таможенное оформление и&nbsp;сертификация
                        .item__text
                            p Выкуп и&nbsp;подготовка товара к&nbsp;продаже на&nbsp;иностранном рынке.
                            p Разработка брендинга и&nbsp;упаковки, прохождение сертификации.
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/truck.png", alt="truck")
                    .item__text-wrapper
                        .item__title
                            h4 Доставка товара иностранному покупателю
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/people.png", alt="people")
                    .item__text-wrapper
                        .item__title
                            h4 Завершение сделки
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore deserunt eveniet quam doloribus explicabo!
            .button-wrapper
                a.button.button--action.col-sm-12(href="#") Оставить заявку