section.keypoints.keypoints--import.section-offset(data-aos="fade-up")
    .keypoints__container
        .keypoints__header.row.row--center
            .keypoints__title.col-12.col-md-6.col-lg-6
                h3.subtitle Комплексная услуга импорта
        .keypoints__content.row.row--center
            .keypoints__background.col-9.col-sm-3.col-md-6.col-lg-9
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/tablet.png", alt="tablet")
                    .item__text-wrapper
                        .item__title
                            h4 Lorem ipsum dolor sit amet.
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore deserunt eveniet quam doloribus explicabo!
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/books.png", alt="books")
                    .item__text-wrapper
                        .item__title
                            h4 Lorem ipsum dolor sit amet.
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore deserunt eveniet quam doloribus explicabo!
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/truck.png", alt="truck")
                    .item__text-wrapper
                        .item__title
                            h4 Lorem ipsum dolor sit amet.
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .keypoints__item.item.col-12.col-sm-12.col-md-6.col-lg-3
                a.item__wrapper(href="")
                    .item__img
                        img(src="./img/keypoints/people.png", alt="people")
                    .item__text-wrapper
                        .item__title
                            h4 Lorem ipsum dolor sit amet.
                        .item__text
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolore deserunt eveniet quam doloribus explicabo!
            .button-wrapper
                a.button.button--action.col-sm-12(href="#") Оставить заявку