.services-about {
    position: relative;
    margin-top: 50px;

    &__image {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        &-bg {
            width: 920px;
            height: 600px;
            background-image: url("../img/service-about.png");
            background-repeat: no-repeat;
            background-position: center right;
            background-size: contain;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 50%;
            right: 0;
            width: 789px;
            height: 400px;
            display: block;
            transform: translateY(-50%);
            background: #e5e7eb;
        }
    }

    &__content {
        .button {
            margin-top: 50px;
        }
    }

    &__text {
        max-width: 590px;
    }
}