section.services-about.section-offset
    .services-about__image
        .services-about__image-rect(data-aos="fade-left")
        .services-about__image-bg
    .services-about__container.container(data-aos="fade-up")
        .services-about__wrapper.row
            .services-about__content.col-12
                .services-about__text
                    h4.subtitle.title-offset Мы&nbsp;оказываем полный комплекс услуг при экспорте и&nbsp;импорте товаров через границу России
                    p.text-larger Комплекс услуг может включать в&nbsp;себя организацию и&nbsp;проведение маркетинговых исследований, поиск поставщиков и&nbsp;покупателей, сертификацию товаров, таможенное оформление, логистику, проверку надежности деловых партнеров и&nbsp;многое другое
                    button.button.button--action Оставить заявку