aside.sidebar
	.sidebar__wrapper
		.sidebar-link.sidebar-link--first-level.accordion
			.sidebar-link__button.link.accordion__button
				span Экспорт
				+icon('drop-down-triangle','')
			.sidebar-link__content
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Экспорт из России
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="").is-active Завершение сделки
						a(href="") Документы для Экспорта
				a(href="") Поиск поставщиков
				a(href="") Продвижение российских товаров на зарубежных рынках
				a(href="") Реэкспорт
				a(href="") Временный вывоз
				a(href="") Переработка вне таможенной территории
				a(href="") Таможенный транзит
		.sidebar-link.sidebar-link--first-level.accordion
			.sidebar-link__button.link.accordion__button
				span Импорт
				+icon('drop-down-triangle','')
			.sidebar-link__content
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Импорт из России
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="") Завершение сделки
						a(href="") Документы для Импорта
				a(href="") Поиск поставщиков
				a(href="") Продвижение российских товаров на зарубежных рынках
				a(href="") Реэкспорт
				a(href="") Временный вывоз
				a(href="") Переработка вне таможенной территории
				a(href="") Таможенный транзит
		.sidebar-link.sidebar-link--first-level.accordion
			.sidebar-link__button.link.accordion__button
				span Грузопереозки
				+icon('drop-down-triangle','')
			.sidebar-link__content
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Грузопереозки из России 1
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="") Завершение сделки
						a(href="") Документы для Импорта
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Грузопереозки из России 2
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="") Завершение сделки
						a(href="") Документы для Импорта
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Грузопереозки из России 3
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="") Завершение сделки
						a(href="") Документы для Импорта
		.sidebar-link.sidebar-link--first-level.accordion
			.sidebar-link__button.link.accordion__button
				span Таможенное оформление
				+icon('drop-down-triangle','')
			.sidebar-link__content
				.sidebar-link.sidebar-link--second-level.accordion
					.sidebar-link__button.accordion__button
						span Таможенное оформление
						+icon('drop-down-triangle','')
					.sidebar-link__content.accordion__content
						a(href="") Заключение контрактов и согласование условий поставки
						a(href="") Таможенное оформление и сертификация
						a(href="") Доставка товара иностранному покупателю
						a(href="") Завершение сделки
						a(href="") Документы для Импорта
				a(href="") Поиск поставщиков
				a(href="") Продвижение российских товаров на зарубежных рынках
				a(href="") Реэкспорт
				a(href="") Временный вывоз
				a(href="") Переработка вне таможенной территории
				a(href="") Таможенный транзит
		.sidebar-link.sidebar-link--first-level
			a(href="").sidebar-link__button.link
				span Сертификация
		.sidebar-link.sidebar-link--first-level
			a(href="").sidebar-link__button.link
				span Аутсорсинг ВЭД
		.sidebar-link.sidebar-link--first-level
			a(href="").sidebar-link__button.link
				span Сопровождение ВЭД
		.sidebar-link.sidebar-link--first-level
			a(href="").sidebar-link__button.link
				span Маркетинг и реклама в сфере ВЭД
		.sidebar-link.sidebar-link--first-level
			a(href="").sidebar-link__button.link
				span Услуги дистрибьютора