section.our-partners.section-offset
    .our-partners__container.container
        .our-partners__header.row
            .our-partners__title.col-12
                h6.subtitle Среди наших партнеров
        .our-partners__wrapper.row
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-1.png", alt="partner-1.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-2.png", alt="partner-2.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-3.png", alt="partner-3.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-1.png", alt="partner-1.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-2.png", alt="partner-2.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-3.png", alt="partner-3.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-1.png", alt="partner-1.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-2.png", alt="partner-2.png")
            .our-partners-item.col-md-2
                .our-partners-item__wrapper
                    img(src="./img/our-partners/partner-3.png", alt="partner-3.png")
        .our-partners__footer.row
            include ../to-request/to-request
            +to-request('./img/invest-request.svg' , '', 'Мы заинтересованы в долгосрочных партнерских отношениях, основанных на уважении, доверии и взаимопомощи, поэтому индивидуально подходим к решению задач каждого клиента' , 'Инвесторам')
