.our-partners {
    &__header {
        padding-bottom: 50px;
    }

    &-item {
        height: 118px;
        margin-bottom: 30px;

        &__wrapper {
            width: 100%;
            height: 100%;
            padding: 40px 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: auto;
                max-height: 100%;
                opacity: 0.45;
                filter: grayscale(100%);
                transition: 0.3s;
            }

            &:hover {
                img {
                    opacity: 1;
                    filter: none;
                }
            }
        }
    }

    &__footer {
        padding-top: 50px;
    }
}