section.our-partners.section-offset
    .our-partners__container.container
        .our-partners__header.row
            .our-partners__title.col-12
                h6.subtitle Среди наших партнеров
        .our-partners__wrapper.row
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/DHL.png", alt="DHL")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/Schenker.png", alt="Schenker")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/CHrobinson.png", alt="CHrobinson")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/DSV.png", alt="DSV")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/Synnex.png", alt="Synnex")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/AWIN.png", alt="AWIN")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/DSV.png", alt="DSV")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/Synnex.png", alt="Synnex")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/AWIN.png", alt="AWIN")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/Schenker.png", alt="Schenker")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/DHL.png", alt="DHL")
            .our-partners-item.col-sm-4.col-md-3.col-lg-2
                .our-partners-item__wrapper
                    img(src="./img/partners/CHrobinson.png", alt="CHrobinson")
        .our-partners__footer.row
            include ../to-request/to-request
            +to-request('./img/invest-request.svg' , '', 'Мы заинтересованы в долгосрочных партнерских отношениях, основанных на уважении, доверии и взаимопомощи, поэтому индивидуально подходим к решению задач каждого клиента' , 'Инвесторам')
