.menu
    .menu__container.container
        .menu__wrapper.row
            .menu__top.col-12.row
                .menu__fast-links.col-md-9.col-lg-8
                    a(href="./about.html").subtitle О компании
                    a(href="./services.html").subtitle Все услуги
                    a(href="").subtitle Инвесторам
                    a(href="./special-offers.html").subtitle Акции
                    a(href="./contacts.html").subtitle Контакты
            .menu__nav.col-12.row
                .menu__menu-item.col-md-6.col-lg-4.menu__accordion.accordion
                    .menu__accordion-button.subtitle.d-flex.d-md-none.accordion__button
                        span Экспорт из России
                        +icon('arrow-down', '')
                    .menu__menu-label.d-none.d-md-block Экспорт из России
                    .menu__accordion-content
                        a(href="").text-mini Заключение контрактов и согласование условий поставки
                        a(href="").text-mini Таможенное оформление и сертификация
                        a(href="").text-mini Доставка товара иностранному покупателю
                        a(href="").text-mini Завершение сделки
                        a(href="").text-mini Документы для Экспорта
                        a(href="").text-mini Реэкспорт
                        a(href="").text-mini Временный вывоз
                        a(href="").text-mini Переработка вне таможенной территории
                        a(href="").text-mini Таможенный транзит
                        a(href="").text-mini Продвижение российских товаров и услуг на иностранных рынках
                        a(href="").text-mini Поиск поставщиков в России
                .menu__menu-item.col-md-6.col-lg-4.menu__accordion.accordion
                    .menu__accordion-button.subtitle.d-flex.d-md-none.accordion__button
                        span Импорт из России
                        +icon('arrow-down', '')
                    .menu__menu-label.d-none.d-md-block Импорт из России
                    .menu__accordion-content
                        a(href="").text-mini Заключение контрактов и согласование условий поставки
                        a(href="").text-mini Таможенное оформление и сертификация
                        a(href="").text-mini Доставка товара иностранному покупателю
                        a(href="").text-mini Завершение сделки
                        a(href="").text-mini Документы для Импорта
                        a(href="").text-mini Реэкспорт
                        a(href="").text-mini Временный ввоз
                        a(href="").text-mini Временный вывоз
                        a(href="").text-mini Переработка вне таможенной территории
                        a(href="").text-mini Таможенный транзит
                        a(href="").text-mini Таможенный склад
                        a(href="").text-mini Продвижение российских товаров и услуг на иностранных рынках
                        a(href="").text-mini Поиск поставщиков в России
                .menu__menu-item.col-md-6.col-lg-4.menu__accordion.accordion
                    .menu__accordion-button.subtitle.d-flex.d-md-none.accordion__button
                        span Грузопереозки
                        +icon('arrow-down', '')
                    .menu__menu-label.d-none.d-md-block Грузопереозки
                    .menu__accordion-content
                        a(href="").text-mini Международные перевозки
                        a(href="").text-mini Автомобильные перевозки
                        a(href="").text-mini Железнодорожные перевозки
                        a(href="").text-mini Морские и речные перевозки
                        a(href="").text-mini Авиадоставка
                        a(href="").text-mini Мультимодальные перевозки
                        a(href="").text-mini Негабаритные перевозки
                        a(href="").text-mini Проектные перевозки
                        a(href="").text-mini Контейнерные перевозки
                        a(href="").text-mini Доставка сборных грузов из Европы и Китая
                        a(href="").text-mini Таможенный склад
                        a(href="").text-mini Карго доставка из Китая и Европы
                        a(href="").text-mini Страхование грузов
                .menu__menu-item.col-md-6.col-lg-4.menu__accordion.accordion
                    .menu__accordion-button.subtitle.d-flex.d-md-none.accordion__button
                        span Таможенное оформление
                        +icon('arrow-down', '')
                    .menu__menu-label.d-none.d-md-block Таможенное оформление
                    .menu__accordion-content
                        a(href="./tamozhennoe-oformlenie.html").text-mini Декларирование товаров при Экспорте
                        a(href="./tamozhennoe-oformlenie.html").text-mini Декларирование товаров при Импорте
                        a(href="./tamozhennoe-oformlenie.html").text-mini Регистрация участника ВЭД в таможенных органах
                        a(href="./tamozhennoe-oformlenie.html").text-mini Представление интересов в таможенных органах
                        a(href="./tamozhennoe-oformlenie.html").text-mini Составление внешнеторговых контрактов
                        a(href="./tamozhennoe-oformlenie.html").text-mini Оформление товаросопроводительных документов (CMR, TIR, ТТН)
                        a(href="./tamozhennoe-oformlenie.html").text-mini Участие в досмотрах
                        a(href="./tamozhennoe-oformlenie.html").text-mini Оплата услуг СВХ и таможенных платежей
                        a(href="./tamozhennoe-oformlenie.html").text-mini Услуги перевода
                        a(href="./tamozhennoe-oformlenie.html").text-mini Стоимость услуг
                .menu__menu-item.col-md-6.col-lg-4.menu__accordion.accordion
                    .menu__accordion-button.subtitle.d-flex.d-md-none.accordion__button
                        span Услуги дистрибьютора
                        +icon('arrow-down', '')
                    .menu__menu-label.d-none.d-md-block Услуги дистрибьютора
                    .menu__accordion-content
                        a(href="").text-mini Услуги дистрибьютора
                        a(href="").text-mini Изучение спроса на предлагаемые иностранные товары
                        a(href="").text-mini Изучение спроса на предлагаемые иностранные товары
                        a(href="").text-mini Организация рекламных компаний
                        a(href="").text-mini Продвижение иностранных товаров на ранке России
                        a(href="").text-mini Создание филиалов и представительств
                .menu__menu-item.col-md-6.col-lg-4
                    a(href="").menu__menu-label Сертификация
                    a(href="").menu__menu-label Аутсорсинг ВЭД
                    a(href="").menu__menu-label Сопровождение ВЭД
                    a(href="").menu__menu-label Маркетинг и реклама в сфере ВЭД
            .menu__copyright.col-12.row.no-gutters-row
                .menu__copyright-content.col-12
                    span.text-bold РУСЭКСПОРТ, 2019
                    a(href="http://dolinger-web.ru", target="_blank", rel="nofollow")
                        img(src="./img/dolinger.svg", alt="dolinger.svg")