button.download-docs.download-docs--export(data-aos="fade-left")
    .download-docs__wrapper
        .download-docs__img
            img(src="./img/download-docs.png", alt="download-docs.png")
        .download-docs__text
            p Документы для Экспорта