.address-list {
    margin-bottom: 50px;
    padding-top: 20px;

    ul {
        list-style-type: none;
    }

    .address-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__wrapper {
        margin-right: 10px;
        margin-left: 10px;
        justify-content: space-between;
    }
}

.address-item {
    flex-basis: calc(25% - 20px) !important;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #eceff5;
    background: white;
    transition-property: opacity, transform, border !important;
    transition-duration: 0.3s !important;

    > .address-item__link {
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 70px;
        padding-left: 35px;
    }

    &__suptitle {
        color: $main;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 15px;
        color: $main;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__wrapper {
        height: 100%;
        margin: 0 -20px;
        padding-top: 30px;
        padding-right: 70px;
        padding-left: 35px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: flex;
        align-items: center;
        transition: 0.3s;
        color: $contactsText;
        font-style: normal;

        .icon {
            width: 15px;
            height: 15px;
            margin-right: 5px;

            fill: $main;
        }

        &:hover {
            color: $main;
        }

        &--address {
            min-height: 6em;
            margin-bottom: 15px;
            align-items: flex-start;
            color: #000000;
            font-size: 14px;
        }
    }

    &:hover {
        border-color: $main;
    }
}

@media screen and (max-width: 1280px) {
    .address-item {
        padding-right: 10px;
        padding-left: 10px;

        > .address-item__link {
            padding-right: 30px;
        }

        &__wrapper {
            padding-right: 30px;
        }

        &__link {
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .address-item {
        flex-basis: calc(50% - 10px) !important;
    }
}

@media screen and (max-width: 475px) {
    .address-list {
        padding-top: 10px;

        &__wrapper {
            margin-right: 0;
            margin-left: 0;
        }

        .address-item {
            margin: 10px auto;
            flex-basis: calc(100% - 20px) !important;
        }
    }
}
