.slider-mini(data-aos="fade-up")
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="./img/partners/DHL.png", alt="DHL.png")
            .swiper-slide
                img(src="./img/partners/Schenker.png", alt="Schenker.png")
            .swiper-slide
                img(src="./img/partners/CHrobinson.png", alt="CHrobinson.png")
            .swiper-slide
                img(src="./img/partners/DSV.png", alt="DSV.png")
            .swiper-slide
                img(src="./img/partners/DHL.png", alt="DHL.png")
            .swiper-slide
                img(src="./img/partners/Schenker.png", alt="Schenker.png")
    .swiper-navigation
        .swiper-button-prev
        .swiper-button-next