.team
	.team__container.container
		.team__wrapper.row
			.team__content.col-12
				.team-slider
					.team-slider__wrapper.swiper-wrapper
						.team-slide.swiper-slide
							.team-slide__wrapper
								.team-slide__content
									.team-slide__position Генеральный директор
									.team-slide__name Кузнецов Кирилл Викторович
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
								.team-slide__image
									.team-slide__image-content(style="background-image: url('../img/about/kirill-big.png')")
						.team-slide.swiper-slide
							.team-slide__wrapper
								.team-slide__content
									.team-slide__position Генеральный директор
									.team-slide__name Кузнецов Кирилл Викторович
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
								.team-slide__image
									.team-slide__image-content(style="background-image: url('../img/about/kirill-big.png')")
						.team-slide.swiper-slide
							.team-slide__wrapper
								.team-slide__content
									.team-slide__position Генеральный директор
									.team-slide__name Кузнецов Кирилл Викторович
									a(href="mailto:kirill.k@rusexport.su").team-slide__contact kirill.k@rusexport.su
								.team-slide__image
									.team-slide__image-content(style="background-image: url('../img/about/kirill-big.png')")
				.team-slider-thumbs
					.team-slider-thumbs__wrapper.swiper-wrapper
						.team-slide-thumb.swiper-slide
							img(src="./img/about/kirill-big.png", alt="kirill-big.png")
						.team-slide-thumb.swiper-slide
							img(src="./img/about/kirill-big.png", alt="kirill-big.png")
						.team-slide-thumb.swiper-slide
							img(src="./img/about/kirill-big.png", alt="kirill-big.png")