section.transportation-categories
	.transportation-categories__container.container
		.transportation-categories__header.row.row--between
				.transportation-categories__title.col-md-4
					h3.title Грузоперевозки
					p.text-20 Решаем задачу оптимизации процесса логистики товара для сокращения издержек и экономии ресурсов
				.transportation-categories__insurance.col-md-4
					.transportation-categories__insurance-wrapper
						img(src="./img/categories/insurance.svg", alt="insurance.svg")
						p Страхование грузов
		.transportation-categories__content.row
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/mezhdunarodnie-perevozki.svg", alt="mezhdunarodnie-perevozki.svg")
					.transportation-category__text
						p Международные грузоперевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/avto-perevozki.svg", alt="avto-perevozki.svg")
					.transportation-category__text
						p Автомобильные перевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/zhd-perevozki.svg", alt="zhd-perevozki.svg")
					.transportation-category__text
						p Железнодорожные перевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/morskie-perevozki.svg", alt="morskie-perevozki.svg")
					.transportation-category__text
						p Морские и речные перевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/avia-perevozki.svg", alt="avia-perevozki.svg")
					.transportation-category__text
						p Авиадоставка
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/kontainer-perevozki.svg", alt="kontainer-perevozki.svg")
					.transportation-category__text
						p Контейнерные перевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/negabarit-perevozki.svg", alt="negabarit-perevozki.svg")
					.transportation-category__text
						p Негабаритные перевозки
			.transportation-category.col-md-3
				.transportation-category__wrapper
					.transportation-category__image
						img(src="./img/categories/all-perevozki.svg", alt="all-perevozki.svg")
					.transportation-category__text
						p Перейти к полному списку



