section.transportation-categories.section-offset
    .transportation-categories__container.container
        .transportation-categories__header.row.row--between
            .transportation-categories__title.col-12.col-md-6
                h3.title.title-offset(data-aos="fade-up") Грузоперевозки
                p.text-larger(data-aos="fade-up", data-aos-delay="150") Мы разрабатываем и используем логистические решения, которые созданы под конкретные потребности клиента и сочетают надежность и конкурентоспособность на протяжении всей цепочки поставок для решения любых бизнес-задач
            a(href="", data-aos="fade-left").transportation-categories__insurance.substrate.col-12.col-md-6
                .transportation-categories__insurance-wrapper
                    img(src="./img/transportation-categories/insurance.png", alt="insurance.png")
                    p Страхование грузов
        .transportation-categories__content.row.row--center
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/mezhdunarodnie-perevozki.png", alt="mezhdunarodnie-perevozki.png")
                    .transportation-category__text
                        p Международные грузоперевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/avto-perevozki.png", alt="avto-perevozki.png")
                    .transportation-category__text
                        p Автомобильные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/zhd-perevozki.png", alt="zhd-perevozki.png")
                    .transportation-category__text
                        p Железнодорожные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/morskie-perevozki.png", alt="morskie-perevozki.png")
                    .transportation-category__text
                        p Морские и речные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/kontainer-perevozki.png", alt="kontainer-perevozki.png")
                    .transportation-category__text
                        p Контейнерные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/negabarit-perevozki.png", alt="negabarit-perevozki.png")
                    .transportation-category__text
                        p Негабаритные перевозки
