section.transportation-categories
    .transportation-categories__container.container
        .transportation-categories__header.row.row--between
            .transportation-categories__title.transportation-categories__title--inner.col-12.col-md-6.col-lg-8
                h2.subtitle(data-aos="fade-up") Услуги перевозки грузов
                p(data-aos="fade-up") Мы&nbsp;разрабатываем и&nbsp;используем логистические решения, которые созданы под&nbsp;конкретные потребности клиента и&nbsp;сочетают надежность и&nbsp;конкурентоспособность на&nbsp;протяжении всей цепочки поставок для решения любых бизнес-задач.
                p(data-aos="fade-up") Партнерские отношения с&nbsp;ведущими автомобильными, железнодорожными и&nbsp;морскими перевозчиками дают нашей компании возможность осуществлять перевозки на&nbsp;межконтинентальные расстояния без ограничения по&nbsp;объему груза и&nbsp;видам транспортных средств.
            a(href="", data-aos="fade-left", data-aos-delay="150").transportation-categories__insurance.col-12.col-md-6.col-lg-4
                .transportation-categories__insurance-wrapper.transportation-categories__insurance-wrapper--inner
                    img(src="./img/transportation-categories/insurance.png", alt="insurance.png")
                    p Страхование грузов
        .transportation-categories__content.row.row--center
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/mezhdunarodnie-perevozki.png", alt="mezhdunarodnie-perevozki.png")
                    .transportation-category__text
                        p Международные грузоперевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/avto-perevozki.png", alt="avto-perevozki.png")
                    .transportation-category__text
                        p Автомобильные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/zhd-perevozki.png", alt="zhd-perevozki.png")
                    .transportation-category__text
                        p Железнодорожные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/morskie-perevozki.png", alt="morskie-perevozki.png")
                    .transportation-category__text
                        p Морские и речные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/avia-perevozki.png", alt="avia-perevozki.png")
                    .transportation-category__text
                        p Авиадоставка
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/kontainer-perevozki.png", alt="kontainer-perevozki.png")
                    .transportation-category__text
                        p Контейнерные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/multimodal-perevozki.png", alt="multimodal-perevozki.png")
                    .transportation-category__text
                        p Мультимодальные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/negabarit-perevozki.png", alt="negabarit-perevozki.png")
                    .transportation-category__text
                        p Негабаритные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/project-perevozki.png", alt="project-perevozki.png")
                    .transportation-category__text
                        p Проектные перевозки
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/complex-perevozki.png", alt="complex-perevozki.png")
                    .transportation-category__text
                        p Комплексные логистические решения
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/sbornie-perevozki.png", alt="sbornie-perevozki.png")
                    .transportation-category__text
                        p Доставка сборных грузов из Европы и Китая
            a(href="", data-aos="fade-up").transportation-category.col-12.col-sm-6.col-md-4.col-lg-4
                .transportation-category__wrapper
                    .transportation-category__image
                        img(src="./img/transportation-categories/cargo-perevozki.png", alt="cargo-perevozki.png")
                    .transportation-category__text
                        p Карго доставка из Китая и Европы
