extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Справочная информация"

block content
	include ../../blocks/modules/header/header
	main
		include ../../blocks/modules/page-title/page-title
		+page-title(title,[title])
		.content
			.content__container.container
				.content__wrapper.row
					.content__information
						include ../../blocks/components/information/information-tabs
						+information-tabs('helpful')
						include ../../blocks/components/information/information-helpful

	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/popup/popup

block scripts
	script(src="./js/main.js")
	script(src="./js/vendor.js")