extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Экспорт"

block content
    include ../../blocks/modules/header/header
    main
        include ../../blocks/modules/page-title/page-title
        +page-title-bg(title,[title],'services-cargo.jpg')
        .content
            .content__container.container
                .content__wrapper.row
                    .content__sidebar.col-lg-3
                        include ../../blocks/modules/sidebar/sidebar
                    .content__information.col-lg-9
                        .page.page--services
                            .page__content.text-big-lh
                                h2.subtitle(data-aos="fade-up") Экспорт из России
                                include ../../blocks/components/download-docs/download-docs-export
                                p(data-aos="fade-up", data-aos-delay="150") Экспорт&nbsp;&mdash; это таможенная процедура, применяемая в&nbsp;отношении товаров государства, в&nbsp;соответствии с&nbsp;которой такие товары вывозятся с&nbsp;таможенной территории государства для постоянного нахождения за&nbsp;ее&nbsp;пределами.
                                p(data-aos="fade-up", data-aos-delay="150") Говоря по&nbsp;простому Экспорт&nbsp;&mdash; это вывоз за&nbsp;границу товаров, проданных иностранному покупателю или предназначенных для продажи на&nbsp;иностранном рынке.
                                p(data-aos="fade-up", data-aos-delay="150") Российское законодательство определяет экспорт как &laquo;вывоз товара, работ, услуг, результатов интеллектуальной деятельности, в&nbsp;том числе исключительных прав на&nbsp;них, с&nbsp;таможенной территории за&nbsp;границу без обязательства об&nbsp;обратном ввозе&raquo;.
                                .clear-both
                                include ../../blocks/components/keypoints/keypoints-export
                                include ../../blocks/components/services/services-related-export
                                include ../../blocks/components/services/services-related-full-export
                                include ../../blocks/components/services/services-definition
                                +definition('Наша компания оказывает, как полный комплекс услуг "от двери до двери", так и отдельные виды услуг, по желанию клиента.<br><br>Мы оказываем услуги по экспорту товаров из России, как под собственные контракты, так и под контракты наших клиентов.')
                                include ../../blocks/components/services/services-subtitle-with-image-export
                                include ../../blocks/components/services/services-advantages-export
                                //- include ../../blocks/components/gridLinks/gridLinks-export
                                include ../../blocks/modules/form/form
                                +form('Оставьте заявку на консультацию','form',[
                                    {
                                        'label' : 'Имя',
                                        'name' : 'name',
                                        'type' : 'text',
                                    },
                                    {
                                        'label' : 'Телефон',
                                        'name' : 'phone',
                                        'type' : 'tel',
                                    },
                                    {
                                        'label' : 'E-mail',
                                        'name' : 'email',
                                        'type' : 'email',
                                    },
                                    {
                                        'label' : 'Сообщение',
                                        'name' : 'message',
                                        'type' : 'textarea',
                                    },],
                                    {},
                                    {
                                        'text' : 'Согласен на обработку персональных данных.',
                                        'link' : {
                                            'title' : 'Политика конфиденциальности',
                                            'href' : '/politic'
                                        },
                                        'name' : 'politic'
                                    },
                                    'Отправить'
                                )



    include ../../blocks/modules/footer/footer
    include ../../blocks/modules/popup/popup

block scripts
    script(src="./js/main.js")
    script(src="./js/vendor.js")