.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
}

.icon-arrow-left {
	font-size:(24/10)*1rem;
	width:(15/24)*1em;
}
.icon-arrow-right {
	font-size:(24/10)*1rem;
	width:(15/24)*1em;
}
.icon-arrow-slider-left {
	font-size:(22/10)*1rem;
	width:(43/22)*1em;
}
.icon-arrow-slider-right {
	font-size:(22/10)*1rem;
	width:(43/22)*1em;
}
.icon-close {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-contacts-adress {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-contacts-email {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-contacts-phone {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-drop-down-triangle {
	font-size:(8/10)*1rem;
	width:(8/8)*1em;
}
.icon-features-callback {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-features-dialog {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-features-menu {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-features-request {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-incoterms-lines {
	font-size:(6/10)*1rem;
	width:(35/6)*1em;
}
.icon-login {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-menu {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-search {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-side-labels {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
