section.our-team.section-offset
	.our-team__container.container
		.our-team__wrapper.row
			.our-team__title.col-12
				h5.title Наша команда
				.slider-arrows.our-team__arrows
					.slider-arrows__left
						+icon('arrow-left','')
					.slider-arrows__right
						+icon('arrow-right','')
			.our-team__slider.col-12
				.our-team__slider-wrapper.swiper-wrapper
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/kirill.png", alt="kirill.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Генеральный директор
										p.our-team-item__name.subtitle Кузнецов Кирилл Викторович
										a(href="mailto:kirill.k@rusexport.su").our-team-item__email kirill.k@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/petr.png", alt="petr.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Коммерческий директор
										p.our-team-item__name.subtitle Плаксин Петр Алексеas
										a(href="mailto:petr.k@rusexport.su").our-team-item__email petr.p@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/maria.png", alt="kirill.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Директор по экономике и финансам
										p.our-team-item__name.subtitle Минина Мария Сергеевна
										a(href="mailto:mariya.m@rusexport.su").our-team-item__email mariya.m@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/sergey.png", alt="sergey.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Технический директор
										p.our-team-item__name.subtitle Кузнецов Сергей Викторович
										a(href="mailto:sergey.k@rusexport.su").our-team-item__email sergey.k@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/kirill.png", alt="kirill.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Генеральный директор
										p.our-team-item__name.subtitle Кузнецов Кирилл Викторович
										a(href="mailto:kirill.k@rusexport.su").our-team-item__email kirill.k@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/petr.png", alt="petr.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Коммерческий директор
										p.our-team-item__name.subtitle Плаксин Петр Алексеевич
										a(href="mailto:petr.k@rusexport.su").our-team-item__email petr.p@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/maria.png", alt="kirill.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Директор по экономике и финансам
										p.our-team-item__name.subtitle Минина Мария Сергеевна
										a(href="mailto:mariya.m@rusexport.su").our-team-item__email mariya.m@rusexport.su
					.our-team-item.swiper-slide
						.our-team-item__wrapper
								.our-team-item__image
									img(src="./img/our-team/sergey.png", alt="sergey.png")
								.our-team-item__content
									.our-team-item__cart
										p.our-team-item__position Технический директор
										p.our-team-item__name.subtitle Кузнецов Сергей Викторович
										a(href="mailto:sergey.k@rusexport.su").our-team-item__email sergey.k@rusexport.su
