.specialists {
    &__wrapper {
        padding-bottom: 170px;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-item {
        &__wrapper {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &__icon {
            height: 90px;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            margin-bottom: 34px;
        }

        &__content {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            transition: 0.3s;
            pointer-events: none;
            opacity: 0;
        }

        &__preview {
            width: 100%;
            max-width: 290px;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &__button {
            display: block;
            margin-top: auto;
            cursor: pointer;
            color: $main;
        }
    }
}