.specialists {
    &__wrapper {
        position: relative;
        padding-bottom: 170px;

        &--back-rect {
            &::before {
                content: "";
                position: absolute;
                top: 250px;
                right: 430px;
                display: block;
                width: 70px;
                height: 125px;
                background-color: $grey;
            }
        }

        &--sm-space {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            max-height: 500px;
        }
    }

    &__content {
        padding-top: 20px;
    }

    &-item {
        &__wrapper {
            position: relative;
            max-width: 385px;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;

            &:hover {
                cursor: pointer;

                .specialists-item__icon {
                    opacity: 0;
                }

                .specialists-item__content {
                    top: 0;

                    p:not(.subtitle) {
                        margin-top: 0;
                    }
                }

                .specialists-item__button {
                    bottom: 150px;
                    opacity: 0;
                }
            }
        }

        &__icon {
            position: absolute;
            width: 180px;
            height: 120px;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            margin-bottom: 10px;
            pointer-events: none;
            transition: 0.3s;
        }

        &__content {
            position: relative;
            top: 130px;
            right: 0;
            width: 100%;
            transition: 0.3s;
            opacity: 1;

            p:not(.subtitle) {
                margin-top: 200px;
                transition: 0.3s;
            }
        }

        &__button {
            position: absolute;
            bottom: 0;
            display: block;
            margin-top: auto;
            cursor: pointer;
            color: $main;
            transition: 0.3s;
        }
    }
}

@media screen and (width: 768px) {
    .specialists-item {
        &__wrapper {
            height: 400px;
        }
    }
}

@media screen and (max-width: 768px) {
    .specialists__wrapper {
        padding-bottom: 30px;

        &--back-rect::before {
            top: 200px;
            right: 580px;
        }
    }

    .specialists-item {
        &:not(:first-of-type) {
            margin-top: 10px;
        }

        &__wrapper {
            margin: 0 auto;
        }

        &__button {
            bottom: 80px;
        }
    }
}