section.specialists
    .specialists__container.container
        .specialists__wrapper.specialists__wrapper--sm-space.row.row--middle.row--between
            .specialists__content.col-md-6
                h2.title.title-offset(data-aos="fade-up") Специалисты высокого класса с&nbsp;большим опытом работы по всему миру
                p.text-larger(data-aos="fade-up", data-aos-delay="0") Сотрудники нашей компании имеют опыт в области экспорта товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта иностранных товаров в Россию
            .specialists__image.js-lottie-icon--countries.col-md-4(data-aos="fade-left")
        .specialists__wrapper.specialists__wrapper--back-rect.row
            .specialists-item.col-md-4(data-aos="fade-left", data-aos-delay="0")
                .specialists-item__wrapper
                    .specialists-item__icon.js-lottie-icon--head
                    .specialists-item__content
                        p.subtitle.title-offset Повышение квалификации сотрудников
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
                    span.specialists-item__button.text-larger Подробнее
            .specialists-item.col-md-4(data-aos="fade-left", data-aos-delay="150")
                .specialists-item__wrapper
                    .specialists-item__icon.js-lottie-icon--impa
                    .specialists-item__content
                        p.subtitle.title-offset Управление проектами по международным стандартам
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
                    span.specialists-item__button.text-larger Подробнее
            .specialists-item.col-md-4(data-aos="fade-left", data-aos-delay="300")
                .specialists-item__wrapper
                    .specialists-item__icon.js-lottie-icon--city
                    .specialists-item__content
                        p.subtitle.title-offset Участие в мероприятиях
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
                    span.specialists-item__button.text-larger Подробнее
        .specialists__wrapper.row.row--middle.row--between(data-aos="fade-up")
            .specialists__image.js-lottie-icon--hexagon.col-md-7
            .specialists__content.col-md-5
                h2.subtitle.title-offset В нашей компании работают специалисты из разных отраслей промышленности
                p.text-larger В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.