section.specialists.section-offset
    .specialists__container.container
        .specialists__wrapper.row.row--between
            .specialists__content.col-md-6
                h2.title.title-offset Специалисты высокого класса с большим опытом работы по всему миру
                p.text-larger Сотрудники нашей компании имеют опыт в области экспорта товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта иностранных товаров в Россию
            .specialists__image.col-md-4
                img(src="./img/about/from-rus-to.svg", alt="from-rus-to.svg")
        .specialists__wrapper.row
            .specialists-item.col-md-4
                .specialists-item__wrapper
                    .specialists-item__icon
                        img(src="./img/about/specialist-1.svg", alt="specialist-1.svg")
                    .specialists-item__preview
                        p.subtitle Повышение квалификации сотрудников
                        span.specialists-item__button.text-larger Подробнее
                .specialists-item__content
                        p.subtitle.title-offset Повышение квалификации сотрудников
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
            .specialists-item.col-md-4
                .specialists-item__wrapper
                    .specialists-item__icon
                        img(src="./img/about/specialist-2.svg", alt="specialist-2.svg")
                    .specialists-item__preview
                        p.subtitle.title-offset Управление проектами по международным стандартам
                        span.specialists-item__button.text-larger Подробнее
                .specialists-item__content
                        p.subtitle.title-offset Управление проектами по международным стандартам
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
            .specialists-item.col-md-4
                .specialists-item__wrapper
                    .specialists-item__icon
                        img(src="./img/about/specialist-3.svg", alt="specialist-3.svg")
                    .specialists-item__preview
                        p.subtitle.title-offset Участие в мероприятиях
                        span.specialists-item__button.text-larger Подробнее
                .specialists-item__content
                        p.subtitle.title-offset Участие в мероприятиях
                        p.text-larger Сотрудники компании принимают участие в международных выставках, проводимых в России и за её пределами. Наши специалисты всегда находятся в курсе последних трендов и новостей в области международной торговли, мировой экономики, права и финансов
        .specialists__wrapper.row.row--between
            .specialists__image.col-md-7
                img(src="./img/about/specialist-from-manufacture.svg", alt="specialist-from-manufacture.svg")
            .specialists__content.col-md-5
                h2.subtitle.title-offset В нашей компании работают специалисты из разных отраслей промышленности
                p.text-larger В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.