section.advantages.section-offset
    .advantages__container.container
        .advantages__content.row
            .advantages-item.advantages-item--title.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                .advantages-item__wrapper
                    h4.title.title-offset Почему мы?
                    p.text-big-lh Особенный подход к делу и слаженная работа коллектива нашей компании на всех этапах реализации экспортно-импортных проектов дает нам ряд преимуществ, благодаря которым нас выбрали наши клиенты
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="1")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-products.svg", alt="advantages-products.svg")
                    .advantages-item__label
                        p.text-larger Широкий ассортимент товаров
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="2")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-specialists.svg", alt="advantages-specialists.svg")
                    .advantages-item__label
                        p.text-larger Квалифицированный персонал
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="3")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-complex.svg", alt="advantages-complex.svg")
                    .advantages-item__label
                        p.text-larger Комплексный подход
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="4")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-support.svg", alt="advantages-support.svg")
                    .advantages-item__label
                        p.text-larger Государственная поддержка
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="5")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-communications.svg", alt="advantages-communications.svg")
                    .advantages-item__label
                        p.text-larger Система коммуникаций
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="6")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-principles.svg", alt="advantages-principles.svg")
                    .advantages-item__label
                        p.text-larger Индивидуальный подход
            .advantages-item.col-12.col-sm-6.col-md-4.col-xl-3(data-aos="fade-up")
                button.advantages-item__wrapper(data-item="7")
                    .advantages-item__image
                        img(src="./img/advantages/advantages-individual-approach.svg", alt="advantages-individual-approach.svg")
                    .advantages-item__label
                        p.text-larger Корпоративные принципы
    include ./advantages-popup