.popup.popup--advantages
    .popup__wrapper
        button.popup__close.button.popup__close-advantages
            +icon('close', 'close-mode')
        .popup-advantages__list
            ul
                li
                    a.popup-advantages__link(href="", data-item="1")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-products.svg", alt="advantages-products.svg")
                        .popup-advantages__link-text
                            span Широкий ассортимент товаров
                li
                    a.popup-advantages__link(href="", data-item="2")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-specialists.svg", alt="advantages-specialists.svg")
                        .popup-advantages__link-text
                            span Квалифицированный персонал
                li
                    a.popup-advantages__link(href="", data-item="3")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-complex.svg", alt="advantages-complex.svg")
                        .popup-advantages__link-text
                            span Комплексный подход
                li
                    a.popup-advantages__link(href="", data-item="4")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-support.svg", alt="advantages-support.svg")
                        .popup-advantages__link-text
                            span Государственная поддержка
                li
                    a.popup-advantages__link(href="", data-item="5")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-communications.svg", alt="advantages-communications.svg")
                        .popup-advantages__link-text
                            span Система коммуникаций
                li
                    a.popup-advantages__link(href="", data-item="6")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-principles.svg", alt="advantages-principles.svg")
                        .popup-advantages__link-text
                            span Индивидуальный подход
                li
                    a.popup-advantages__link(href="", data-item="7")
                        .popup-advantages__link-img
                            img(src="./img/advantages/advantages-individual-approach.svg", alt="advantages-individual-approach.svg")
                        .popup-advantages__link-text
                            span Корпоративные принципы
        .popup-advantages__content
            .popup-advantages__content-wrapper
                .popup-advantages__content-item(data-item="1")
                    h4.title.title-offset Широкий ассортимент товаров
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                .popup-advantages__content-item(data-item="2")
                    h4.title.title-offset Квалифицированный персонал
                .popup-advantages__content-item(data-item="3")
                    h4.title.title-offset Комплексный подход
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                .popup-advantages__content-item(data-item="4")
                    h4.title.title-offset Государственная поддержка
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                .popup-advantages__content-item(data-item="5")
                    h4.title.title-offset Система коммуникаций
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                .popup-advantages__content-item(data-item="6")
                    h4.title.title-offset Индивидуальный подход
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                .popup-advantages__content-item(data-item="7")
                    h4.title.title-offset Корпоративные принципы
                    p.text-big-lh Сотрудники нашей компании имеют опыт работы в области экспорта самого широкого ассортимента товаров с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также в области импорта широкого ассортимента иностранных товаров в Россию.
                    p.text-big-lh В нашей компании работают специалисты из разных отраслей промышленности, будь то сельское хозяйство или металлургия, машиностроение или деревопереработка, энергетическая или химическая промышленность.
                    p.text-big-lh В компании работают сотрудники из Китая, Кореи, Индии, Вьетнама, Ирака, Египта, Алжира и других стран, что обеспечивает нам взаимопонимание с нашими иностранными клиентами и партнерами.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
                    p.text-big-lh В нашей компании большое внимание уделяют повышению квалификации сотрудников, поэтому в компании регулярно проводится обучение персонала по разным направлениям внешнеэкономической деятельности, также проводятся занятия по изучению иностранных языков.
.overlay