extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header
	main
		include ../blocks/components/services/services
		include ../blocks/components/transportationCategories/transportationCategories
		include ../blocks/components/aboutCompanyBlock/aboutCompanyBlock
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur pariatur quae ducimus, nostrum laboriosam unde quis ratione doloribus, ipsa quo consectetur cupiditate esse atque quod recusandae ex aspernatur debitis exercitationem.Cum veniam maiores nostrum eaque, expedita enim id velit quasi fuga iure illum ipsum commodi atque laboriosam quae provident pariatur facere autem fugit laborum doloribus! Suscipit, sequi eveniet. Facilis, fugit.Saepe laudantium ullam sit eveniet! Dolorum exercitationem mollitia iusto natus, nam doloremque odio ullam maxime ratione, numquam in, quis dolorem adipisci dolores facere cum facilis atque totam rem laudantium eius.Animi dolores ipsum, suscipit quo reprehenderit, consectetur eos non quos eum distinctio accusantium est accusamus omnis consequuntur incidunt veritatis sequi velit, possimus praesentium? Eius quas fugiat at dolor voluptates animi.Animi, quasi. Quo molestiae fugit architecto repudiandae voluptate nesciunt perferendis exercitationem tenetur dicta velit excepturi, officia ab similique dolores, in debitis nam aut omnis laborum! Officiis, voluptas! Quo, voluptatum aspernatur.Inventore vel saepe enim atque, quisquam quidem commodi veritatis sequi quia maiores ipsam rem voluptate amet voluptatibus iste praesentium possimus. Saepe, nemo est? Molestiae optio id ut quidem nihil veritatis.Adipisci at omnis explicabo est reprehenderit cupiditate laudantium quasi ad, totam, rem fugit, tempora vero modi doloribus qui? Veniam sunt doloremque, esse natus magnam doloribus voluptatem ut numquam beatae officia.Tempore adipisci quam sint velit, facere ullam temporibus a maiores. Corrupti molestias eos eum modi, ea aperiam iusto illum est, quidem repellendus magnam, tempora officia aliquam voluptatibus non qui quas!Quasi, corrupti modi? Nihil quisquam accusamus, hic perferendis explicabo praesentium incidunt rerum quos consequuntur dolores, quis iusto dolore quaerat dolor. Suscipit laboriosam animi quidem iusto maiores accusantium facilis quos voluptas!Inventore quidem quo, suscipit quis ipsa reprehenderit minima odio nam corporis, officiis excepturi aliquam provident unde obcaecati eum laborum praesentium nemo iure omnis culpa amet molestiae aperiam. Nam, laudantium. Deserunt.
block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")