.search
	form(action="./search.html").search__form
		input(type="text",name="search",placeholder="Воспользуйтесь поиском по нашим услугам").search__input
		button(type="submit").button.search__button
			+icon('search','')