mixin definition(text)
    .services-definition
        .services-definition__wrapper
            .services-definition__icon
                img(src="./img/services-definition.svg", alt="services-definition.svg")
            i !{text}

