.page.page--services
    .page__header(data-aos="fade-up")
        include ../search/search
    .page__content.text-big-lh
        h2.subtitle(data-aos="fade-up") О наших услугах
        p(data-aos="fade-up") Мы разрабатываем и используем логистические решения, <a href="">экспорт</a> которые созданы под конкретные потребности клиента и сочетают <a href="">импорт</a> надежность и конкурентоспособность на протяжении <a href="">грузоперевозки</a> всей цепочки поставок для решения любых бизнес-задач.
        p(data-aos="fade-up") Мы разрабатываем <a href="">таможенное оформление</a> и используем логистические <a href="">сертификация</a> решения, которые созданы под конкретные аутсорсинг ВЭД потребности клиента и сочетают надежность <a href="">сопровождение ВЭД</a> и конкурентоспособность на протяжении всей цепочки поставок для решения любых бизнес-задач. Мы разрабатываем и используем логистические решения, которые созданы под конкретные потребности клиента и сочетают надежность и конкурентоспособность на протяжении всей цепочки поставок для решения любых бизнес-задач.
        include ./services-special-offers
