.services-text-with-icon
    .services-text-with-icon__wrapper
        .services-text-with-icon__icon
            img(src="./img/services-text-with-icon.svg", alt="services-text-with-icon.svg")
        .services-text-with-icon__content
            p.subtitle Выпуск товаров таможенным органом через 2-3 часа
            p.text-big-lh При правильном оформлении и подаче таможенной декларации, а так же при условии достаточности представленной разрешительной документации выпуск товаров таможенным органом происходит в среднем за 2-3 часа с момента регистрации таможенной декларации.

