mixin definition(text)
    .services-definition
        .services-definition__wrapper(data-aos="fade-up")
            .services-definition__icon(data-aos="fade-left")
                img(src="./img/services-definition.svg", alt="services-definition.svg")
            i !{text}
