.services-advantages.services-advantages--import(data-aos="fade-up")
    .services-advantages__wrapper
        h3.subtitle Пять основных преимуществ экспорта:
        ul.services-advantages__list
            li.services-advantages__item
                .services-advantages__item-icon
                    +icon('check')
                .services-advantages__item-descr
                    span Эффективный инструмент развития предприятия
            li.services-advantages__item
                .services-advantages__item-icon
                    +icon('check')
                .services-advantages__item-descr
                    span Увеличение объема продаж за&nbsp;счет новых рынков
            li.services-advantages__item
                .services-advantages__item-icon
                    +icon('check')
                .services-advantages__item-descr
                    span Уменьшение себестоимости единицы продукции
            li.services-advantages__item
                .services-advantages__item-icon
                    +icon('check')
                .services-advantages__item-descr
                    span Регулирование сезонных колебаний на&nbsp;внутреннем рынке
            li.services-advantages__item
                .services-advantages__item-icon
                    +icon('check')
                .services-advantages__item-descr
                    span Увеличение прибыли и&nbsp;валютных ресурсов предприятия
        p Базовые элементы экспорта (товар, рынок, покупатель) схожи с&nbsp;элементами продаж на&nbsp;внутреннем рынке. Но&nbsp;при экспорте товар предназначен для продажи на&nbsp;зарубежном рынке иностранному покупателю и&nbsp;доставляется через границу Российской Федерации.
        p Если компания активно продает свой товар на&nbsp;территории России, знает, как определить внутренний рынок и&nbsp;покупателя, как обеспечить своему товару конкурентные преимущества, организовать производство и&nbsp;хранение, вовремя доставить товар покупателю, то&nbsp;она уже владеет базовыми навыками предпринимательства, необходимыми для начала экспортной деятельности.
