.services-definition
	.services-definition__wrapper
		.services-definition__icon
			img(src="./img/services-definition.svg", alt="services-definition.svg")
		i Таможенное оформление — это комплекс мероприятий выполняемых участником внешнеэкономической деятельности с целью помещения товаров под таможенную процедуру путем заявления таможенному органу сведений о товарах при помощи таможенной декларации с дальнейшим перемещением этих товаров через таможенную границу.

