.services-related-full.services-related-full--export(data-aos="fade-up")
    .services-related-full__wrapper
        .services-related-full__title
            h3.subtitle Наша компания оказывает полный комплекс услуг связанных с&nbsp;экспортом товаров из&nbsp;России:
        ul.services-related-full__list
            li.services-related-full__item
                +icon('arrow-down')
                span согласование условий поставки
            li.services-related-full__item
                +icon('arrow-down')
                span заключение договоров с&nbsp;российскими поставщиками и&nbsp;внешнеторговых контрактов с&nbsp;иностранными покупателями
            li.services-related-full__item
                +icon('arrow-down')
                span таможенное оформление и&nbsp;получение необходимой разрешительной документации
            li.services-related-full__item
                +icon('arrow-down')
                span доставка товара иностранному покупателю
            li.services-related-full__item
                +icon('arrow-down')
                span возмещение экспортного НДС
            li.services-related-full__item
                +icon('arrow-down')
                span аутсорсинг ВЭД и сопровождение экспортных сделок
            li.services-related-full__item
                +icon('arrow-down')
                span услуги маркетинга и рекламы в сфере ВЭД
            li.services-related-full__item
                +icon('arrow-down')
                span продвижение российских товаров на иностранных рынках
            li.services-related-full__item
                +icon('arrow-down')
                span поиск поставщиков в России для иностранных компаний
