.page.page--services
    .page__content.text-big-lh
        p Этап таможенного оформления и сертификации, а так же получения разрешительной документации необходимой для выпуска товара с территории России и ввоза товара на территорию иностранного государства является немаловажным. Данный этап требует высокой квалификации и опыта, аккуратности и внимания при взаимодействии с разрешительными, надзорными и таможенными органами. Ошибки на данном этапе могут повлечь увеличение финансовых и временных затрат, а так же привести к административной ответственности и наложению штрафов.
        include ./services-request
        include ./services-definition
        include ./services-accordions
        include ./services-text-with-icon
        include ../../modules/form/form
        +form('Свяжитесь с нами','form',[
            {
                'label' : 'Имя',
                'name' : 'name',
                'type' : 'text',
            },
            {
                'label' : 'Телефон',
                'name' : 'phone',
                'type' : 'tel',
            },
            {
                'label' : 'E-mail',
                'name' : 'email',
                'type' : 'email',
            },
            {
                'label' : 'Сообщение',
                'name' : 'message',
                'type' : 'textarea',
            },],
            {},
            {
                'text' : 'Согласен на обработку персональных данных.',
                'link' : {
                    'title' : 'Политика конфиденциальности',
                    'href' : '/politic'
                },
                'name' : 'politic'
            },
            'Отправить'
        )