mixin textWithIcon(title, text)
    .services-text-with-icon
        .services-text-with-icon__wrapper
            .services-text-with-icon__icon
                img(src="./img/services-text-with-icon.svg", alt="services-text-with-icon.svg")
            .services-text-with-icon__content
                p.subtitle !{title}
                p.text-big-lh !{text}
