.services-subtitle-with-image.services-subtitle-with-image--import(data-aos="fade-up")
    .services-subtitle-with-image__wrapper
        .services-subtitle-with-image__title
            h3.subtitle Экспорт является очень перспективным направлением развития бизнеса имеющим явные преимущества перед ведением деятельности только на&nbsp;внутреннем рынке.<br><br>Каждый год несырьевой, неэнергетический экспорт товаров и&nbsp;услуг из&nbsp;России показывает все более и&nbsp;более высокие темпы роста.
        .services-subtitle-with-image__img
            img(src="./img/services-arrows-import.png", alt="services-arrows-import.png")