.services-text-with-helpbox.services-text-with-helpbox--pt
    include ../information/information-helpbox
    .text-wrapper
        include  ../paragraph/paragraph
        +p--top(
            false,
            'Мы&nbsp;разрабатываем и&nbsp;используем логистические решения, которые созданы под конкретные потребности клиента и&nbsp;сочетают надежность и&nbsp;конкурентоспособность на&nbsp;протяжении всей цепочки поставок для решения любых бизнес-задач.'
        )
        +p(
            'Партнерские отношения с&nbsp;ведущими операторами',
            'Партнерские отношения с&nbsp;ведущими автомобильными, железнодорожными и&nbsp;морскими и&nbsp;авиа операторами дают нашей компании возможность осуществлять перевозки на&nbsp;межконтинентальные расстояния без ограничений по&nbsp;объему груза и&nbsp;видам транспортных средств.'
        )
    .clearfix