section.services.section-offset
	.services__container.container
		.services__wrapper.row
			a(href="").services-item.col-4
				.services-item__wrapper
					h3.services-item__title.title Экспорт из России
					.services-item__image
						img(src="./img/expoert.jpg", alt="expoert.jpg")
			a(href="").services-item.col-4
				.services-item__wrapper
					h3.services-item__title.title Импорт в Россию
					.services-item__image
						img(src="./img/import.jpg", alt="import.jpg")
			a(href="").services-item.col-4
				.services-item__wrapper
					h3.services-item__title.title Таможенное оформление
					.services-item__image
						img(src="./img/import.jpg", alt="import.jpg")
