.services-related.services-related--import
  .services-related__wrapper
    h3.subtitle Услуги связанные с&nbsp;экспортом из&nbsp;России:
    .services-related__list
      a(href="#").services-related__item
        span.services-related__item-text Реэкспорт
        span.services-related__item-icon
          +icon('arrow-down')
      a(href="#").services-related__item
        span.services-related__item-text Временный вывоз
        span.services-related__item-icon
          +icon('arrow-down')
      a(href="#").services-related__item
        span.services-related__item-text Переработка вне таможенной территории
        span.services-related__item-icon
          +icon('arrow-down')
      a(href="#").services-related__item
        span.services-related__item-text Таможенный транзит
        span.services-related__item-icon
          +icon('arrow-down')
      a(href="#").services-related__item
        span.services-related__item-text Продвижение российских товаров и&nbsp;услуг на&nbsp;иностранных рынках
        span.services-related__item-icon
          +icon('arrow-down')
      a(href="#").services-related__item
        span.services-related__item-text Поиск поставщиков в&nbsp;России
        span.services-related__item-icon
          +icon('arrow-down')