.fast-links {
    position: fixed;
    z-index: 11;
    top: 40%;
    right: 0;
    transition: 0.3s;

    &--mini {
        transform: translateX(130px);

        &:hover {
            transform: translateX(0);
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    &-item {
        width: 155px;
        height: 40px;
        display: flex;
        align-items: center;
        transition: 0.3s;
        background: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        &:hover {
            width: 165px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .icon {
            fill: inherit;
        }

        &__icon {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            justify-content: center;
            margin-right: 8px;

            .icon {
                width: 20px;
                font-size: 20px;
            }
        }

        &__label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 0.3s;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #292627;
            font-size: 12px;
            font-weight: 900;
            font-style: normal;
            line-height: 1.1;
        }

        &__incoterms {
            display: flex;
            align-items: center;
            margin-top: 2px;
            color: inherit;

            span {
                letter-spacing: normal;
                color: inherit;
                line-height: 1;
            }

            .icon {
                width: 35px;
                margin-left: 4px;
            }
        }

        &--invest {
            .icon {
                fill: $main;
            }

            &:hover {
                .fast-links-item__label {
                    color: $main;
                }
            }
        }

        &--special {
            .icon {
                fill: $red;
            }

            &:hover {
                .fast-links-item__label {
                    color: $red;
                }
            }
        }

        &--incoterms {
            .fast-links-item__incoterms {
                color: #7ad726;
            }

            .icon {
                fill: #7ad726;
            }

            &:hover {
                .fast-links-item__label {
                    color: #7ad726;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .fast-links {
        top: 40%;
        transform: translateX(130px);

        &:hover {
            transform: translateX(0px);
        }
    }
}