.fast-links
	.fast-links__wrapper
		a(href="").fast-links-item.fast-links-item--invest
			.fast-links-item__icon
				+icon('side-labels','')
			.fast-links-item__label 
				span инвесторам
		a(href="").fast-links-item.fast-links-item--special
			.fast-links-item__icon
				+icon('side-labels','')
			.fast-links-item__label 
				span Акции
		a(href="").fast-links-item.fast-links-item--incoterms
			.fast-links-item__icon
				+icon('side-labels','')
			.fast-links-item__label 
				span Инкотермс
				.fast-links-item__incoterms 
					span 2010
					+icon('incoterms-lines','')

