section.about-company-block.section-offset
    .about-company-block__container.container
        .about-company-block__wrapper.row
            .about-company-block__image.col-md-6(data-aos="fade-up")
                img(src="./img/aboutblock.png", alt="aboutblock.png")
            .about-company-block__content.col-md-6(data-aos="fade-left", data-aos-delay="150")
                .about-company-block__text
                    h3.about-company-block__title.title.title-offset О компании
                    p.text-big-lh Наша компания осуществляет экспорт товаров российских производителей с территории России в страны Азии, Африки, Европы, Америки и Австралии, а также импорт иностранных товаров на территорию России.
                    p.text-big-lh Миссия нашей компании – обеспечение возможности покупки российских товаров для иностранных покупателей, а также возможности выхода иностранных компаний на российский рынок.
                    a(href="./about.html").button.button--action Подробнее