.overlay {
	position: fixed;
	display: none;
	z-index: 20;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.5);
}

.popup {
	position: fixed;
	display: none;
	z-index: 21;
	left: 50%;
	top: 50%;
	opacity: 0;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 910px;
	&__header {
		padding-bottom: 40px;
		text-align: center;
	}
	&__close {
		right: 0px;
		height: 70px;
		width: 70px;
		top: 0px;
		transition: 0.3s;
		position: absolute;
		.icon {
			width: 18px;
			height: 18px;
			fill: #C2C5CC;
			transition: 0.3s;
		}
		&:hover {
			.icon {
				fill: black;
			}
		}
	}
	&__wrapper {
		width: 100%;
		padding: 60px 0px 80px;
		position: relative;
		background: white;
	}
	&__content {
		width: 100%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	&__form {
		> *:not(:last-child) {
			margin-bottom: 20px;
		}
		.button {
			display: flex;
			margin: auto;
		}
	}
	&--user {
		.popup__footer {
			padding-top: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			.button {
				display: inline-flex;
				margin-left: 20px;
			}
		}
		.custom-checkbox {
			margin-top: 45px;
			margin-bottom: 45px;
		}
	}
	&--user-register {
		.popup__content {
			text-align: center;
			max-width: 490px;
			margin-left: auto;
			margin-right: auto;
			.text-20 {
				margin-bottom: 40px;
			}
		}
		.popup__footer {
			padding-top: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			.button {
				display: inline-flex;
				margin-left: 20px;
			}
		}
	}
}