.overlay {
	position: fixed;
	display: none;
	z-index: 20;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: rgba(0,0,0,0.5);
}

.popup {
	position: fixed;
	display: none;
	z-index: 21;
	left: 50%;
	top: 50%;
	opacity: 0;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 910px;
	&__close {
		right: 0px;
		height: 70px;
		width: 70px;
		top: 0px;
		transition: 0.3s;
		position: absolute;
		.icon {
			width: 18px;
			height: 18px;
			fill: #C2C5CC;
			transition: 0.3s;
		}
		&:hover {
			.icon {
				fill: black;
			}
		}
	}
	&__wrapper {
		width: 100%;
		position: relative;
		background: white;
	}
	
}

@media screen and (max-width: 992px) {
	.popup {
		overflow-y: auto;
		max-height: 90%;
		max-width: 90%;
		&__wrapper {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}