<!-- MODAL POPUPS -->

.popup.popup--user
    .popup__wrapper
        button.popup__close.button.popup__close-user
            +icon('close', 'close-mode')
        include ../form/form
        +form('Вход','form',[
            {
                'label' : 'Логин',
                'type' : 'text',
                'name' : 'login',
                'id' : 'user-login',
                'value' : '',
                'placeholder' : '',
                'required' : 'true',
                'alert' : 'Введите логин'
            },
            {
                'label' : 'Пароль',
                'type' : 'password',
                'name' : 'password',
                'name' : 'user-password',
                'value' : '',
                'placeholder' : '',
                'required' : 'true',
                'alert' : 'Введите пароль'
            }],
            {
                'p' : 'Если у вас нет аккаунта вы можете' ,
                'button' : 'Зарегистрироваться',
                'name' : 'button-user-register',
            },
            {
                'text' : 'Запомнить на этом компьютере',
                'name' : 'remember'
            },
            'Войти'
        )

.popup.popup--user-register
    .popup__wrapper
        button.popup__close.button.popup__close-user
            +icon('close', '')
        include ../form/form
        +form('Регистрация','form-alert','Для регистрации обратитесь к вашему менеджеру по телефону +7 (495) 795-16-80',
            {
                'p' : 'Если у вас уже есть аккаунт' ,
                'button' : 'Войти',
                'name' : 'button-user',
            },
            '',
            'Хорошо'
        )

.popup.popup--menu
    .popup__container.container
        .popup__wrapper.row
            include ../menu/menu

.popup.popup--consultation
    .popup__wrapper
        button.popup__close.button.popup__close-consultation
            +icon('close', '')
        include ../form/form
        +form('Оставьте заявку на консультацию','form',[
            {
                'label' : 'Имя',
                'type' : 'text',
                'name' : 'name',
                'id' : 'consultation-name',
                'value' : '',
                'placeholder' : '',
                'required' : 'true',
                'alert' : 'Введите имя'
            },
            {
                'label' : 'Телефон',
                'type' : 'tel',
                'name' : 'phone',
                'id' : 'consultation-tel',
                'value' : '',
                'placeholder' : '',
                'required' : 'true',
                'alert' : 'Введите телефон'
            },
            {
                'label' : 'E-mail',
                'type' : 'email',
                'name' : 'email',
                'id' : 'consultation-email',
                'value' : '',
                'placeholder' : '',
                'required' : 'true',
                'alert' : 'Введите e-mail'
            },
            {
                'label' : 'Сообщение',
                'name' : 'message',
                'type' : 'textarea',
            },],
            {},
            {
                'text' : 'Согласен на обработку персональных данных.',
                'link' : {
                    'title' : 'Политика конфиденциальности',
                    'href' : '/politic'
                },
                'name' : 'politic'
            },
            'Отправить'
        )

.popup.popup--partners
    .popup__wrapper
        button.popup__close.button.popup__close-partners
            +icon('close', '')
        .form
            form(action="", enctype="multipart/form-data").form__wrapper
                .title Стать партнером РУСЭКСПОРТ
                .form__content
                    .custom-input
                        label.custom-input__label Наименование компании или ФИО
                        input(type="text",name="name").custom-input__input
                    .radio-block
                        p Вы хотите стать:
                        .radio-block__wrapper
                            +radio('Клиентом', 'partner', 'partner-client', 'client', 'true')
                            +radio('Инвестором', 'partner', 'partner-investor', 'investor')
                            +radio('Клиентом', 'partner', 'partner-supplier', 'supplier')
                    .custom-textarea
                        label.custom-textarea__label Сообщение
                        textarea.custom-textarea__area(name="message")
                    +file('Прикрепить файл', 'partners-file')
                    +input('E-mail', 'email', 'email', 'partner-email', '', '', 'true', 'Введите e-mail')
                    +input('Телефон', 'tel', 'tel', 'partner-tel', '', '', 'true', 'Введите телефон')
                    +checkbox('Согласен на обработку персональных данных.', 'partner-politic', {
                        'title' : 'Политика конфиденциальности',
                        'href' : '/politic'
                    })
                    button.button.button--action(type="submit") Отправить
                    p.form__disclamer * Обязательное поле для заполнения

.popup.popup--success
    .popup__wrapper
        button.popup__close.button
            +icon('close', '')
        .form
            .form__wrapper
                .title Спасибо
                .form__content
                    p Мы свяжемся с вами в ближайшее время
                    button(type="button").button.button--action Хорошо

.overlay