.contacts-header {
    padding-top: 60px;

    &__title {
        // padding-bottom: 58px;

        .title {
            font-size: 40px;
        }
    }

    &-item {
        &__wrapper {
            display: flex;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            .icon {
                width: 34px;
                height: 34px;
                font-size: 34px;

                fill: $main;
            }
        }

        &__content {
            .subtitle {
                color: $main;
            }

            .text-mini {
                color: $contactsText;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contacts-header {
        padding-top: 30px;
    }
}
