.contacts-header
	.contacts-header__container.container
		.contacts-header__wrapper.row
			.contacts-header__title.col-12
				.title Контакты в Челябинске
			a(href="").contacts-header-item.col-md-4
				.contacts-header-item__wrapper
					.contacts-header-item__icon
						+icon('contacts-phone','')
					.contacts-header-item__content
						.subtitle +7 (351) 700-02-04
						.text-mini (многоканальный телефон)
			a(href="").contacts-header-item.col-md-4
				.contacts-header-item__wrapper
					.contacts-header-item__icon
						+icon('contacts-email','')
					.contacts-header-item__content
						.subtitle info@trans-s.su
						.text-mini (электронная почта)
			.contacts-header-item.col-md-4
				.contacts-header-item__wrapper
					.contacts-header-item__icon
						+icon('contacts-adress','')
					.contacts-header-item__content
						.subtitle.js-address(data-address="454020, г. Челябинск, ул. Энтузиастов 30") ул. Энтузиастов 30
						.text-mini 454020, г. Челябинск
