

.tab-content {
	display: none;
	&--active {
		display: block;
		animation: fade 0.8s ease;
	}
}


@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.information {
	&-tabs {
		padding-bottom: 26px;
		&__wrapper {
			border-bottom: 1px solid #ECEFF5;
			display: flex;
			a {
				font-size: 20px;
				padding-bottom: 24px;
				font-weight: bold;
				position: relative;
				color: black;
				&:before {
					position: absolute;
					left: 0;
					bottom: 0;
					transition: 0.3s;
					width: 100%;
					content: '';
					display: block;
					height: 2px;
					background: transparent;
				}
				&:not(:last-child) {
					margin-right: 90px;
				}
				&.is-active {
					color: $main;
					&:before {
						background: $main;
					}
				}
			}
		}
		&-content {
			padding-top: 26px;
		}
	}
	&-articles {
		padding-top: 26px;
	}
	&-codex {
		&__content {
			> * {
				padding-bottom: 20px;
			}
		}
	}
	&-incoterms {
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 40px;
		}
		&__text {
			max-width: 900px;
		}
	}
}

.article {
	&-preview {
		display: block;
		margin-bottom: 40px;
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		&__image {
			width: 100%;
			max-width: 282px;
			margin-right: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 auto;
			img {
				height: 100%;
				width: 100%;
			}
		}
		&__content {
			width: 100%;
			max-width: 904px;
			.subtitle {
				padding: 12px 0px 8px;
			}
		}
	}

}