article.helpbox.helpbox(data-aos="fade-left", data-aos-delay="150")
    .helpbox__container.swiper-container
        .swiper-wrapper
            .helpbox__item.swiper-slide
                .heplbox__header
                    img(src="./img/book-without-magnifier.svg", alt="book-with-magnifier.svg")
                .helpbox__content
                    h3 Какие есть варианты доставки? Как правильно выбрать?
                    p Выбор способа доставки зависит от&nbsp;типа и&nbsp;количества товара. Чем больше объем, тем выгоднее стано ...
                .helpbox__footer
                    a.link(href="") Читать статью
            .helpbox__item.swiper-slide
                .heplbox__header
                    img(src="./img/book-without-magnifier.svg", alt="book-with-magnifier.svg")
                .helpbox__content
                    h3 Какие есть варианты доставки? Как правильно выбрать?
                    p Выбор способа доставки зависит от&nbsp;типа и&nbsp;количества товара. Чем больше объем, тем выгоднее стано ...
                .helpbox__footer
                    a.link(href="") Читать статью
            .helpbox__item.swiper-slide
                .heplbox__header
                    img(src="./img/book-without-magnifier.svg", alt="book-with-magnifier.svg")
                .helpbox__content
                    h3 Какие есть варианты доставки? Как правильно выбрать?
                    p Выбор способа доставки зависит от&nbsp;типа и&nbsp;количества товара. Чем больше объем, тем выгоднее стано ...
                .helpbox__footer
                    a.link(href="") Читать статью
        .helpbox__navigation.swiper-navigation
            .swiper-button-prev
            .swiper-button-next