.information-incoterms.col-12
	.information-incoterms__header
		.information-incoterms__text
			p.text-big-lh Инкотермс — международные правила в формате словаря, обеспечивающие однозначные толкования наиболее широко используемых торговых терминов в области внешней торговли частного характера, прежде всего, относительно франко — места перехода ответственности от продавца к покупателю.
		a(href="").button.button--border Скачать схему
	.information-incoterms__content
		.incoterms
			.incoterms-main
				.incoterms-main__type
					.incoterms-type
						span.incoterms-type__abbr exw
						span.incoterms-type__title Франко перевозчик
						span.incoterms-type__title-eng Ex works
					.incoterms-type
						span.incoterms-type__abbr exw
						span.incoterms-type__title Франко перевозчик
						span.incoterms-type__title-eng Ex works
				.incoterms-main__progress
					.incoterms-progress
						.incoterms-progress__abbr
							span exw
						.incoterms-progress__bar
							.incoterms-progress__bar-active
					.incoterms-progress
						.incoterms-progress__abbr
							span exp
						.incoterms-progress__bar
							.incoterms-progress__bar-active
						.incoterms-progress-double
							.incoterms-progress.incoterms-progress--mini
								.incoterms-progress__abbr
									span Затраты и риски (без фрахта)
									p Expenses & risks (no freight)
								.incoterms-progress__bar
									.incoterms-progress__bar-active
								.incoterms-progress__abbr
									span exp
							.incoterms-progress.incoterms-progress--mini
								.incoterms-progress__abbr
									span Фрахт
									p freight
								.incoterms-progress__bar
									.incoterms-progress__bar-active

	