.information-codex
    .information-codex__wrapper.row.no-gutters-row
        +toAllLink('Все статьи', './information-tamozhny.html')
        .information-codex__content.col-md-8(data-aos="fade-up")
            include ../../components/codex/codex-detailed
        .information-codex__form.col-md-4.form-side(data-aos="fade-left")
            include ../../modules/form/form
            +form('Оставьте заявку на бесплатную консультацию','form',[
                {
                    'label' : 'Имя',
                    'name' : 'name',
                    'type' : 'text',
                },
                {
                    'label' : 'Телефон',
                    'name' : 'phone',
                    'type' : 'tel',
                },
                {
                    'label' : 'E-mail',
                    'name' : 'email',
                    'type' : 'email',
                },
                {
                    'label' : 'Сообщение',
                    'name' : 'message',
                    'type' : 'textarea',
                },],
                {},
                {
                    'text' : 'Согласен на обработку персональных данных.',
                    'link' : {
                        'title' : 'Политика конфиденциальности',
                        'href' : '/politic'
                    },
                    'name' : 'politic'
                },
                'Отправить'
            )