.slider {
    width: 100%;
    height: 150vh;
    overflow: hidden;
    margin-top: -$header;
    margin-bottom: -50vh;
    padding-top: $header;
}

.slider-home {
    position: relative;
    z-index: 0;
    height: 100vh;
    max-height: 630px;

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 0;
        width: 100%;
        height: inherit;
        display: block;
        background-image: url("../img/background_slider_after.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__container {
        position: relative;
        z-index: 2;
        height: 100%;
        pointer-events: none;
    }

    &__content {
        height: 100%;

        &-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        max-width: 510px;
        padding-top: 54px;

        .title {
            display: flex;
            flex-direction: column;
        }

        &-colored {
            position: relative;
            z-index: 10;
            pointer-events: all;
            color: $main;
        }
    }

    &__text {
        position: relative;
        max-width: 400px;
        margin-top: auto;
        margin-bottom: -3%;
        margin-left: auto;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -36px;
            width: 3px;
            height: 100%;
            background: $main;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -36px;
            width: 3px;
            height: 35%;
            background: $red;
        }

        &-slide {
            overflow: hidden;
            opacity: 0;

            &.swiper-slide-active {
                opacity: 1;
            }
        }

        &-counter {
            padding-bottom: 4px;
            font-weight: 900;
            line-height: 1;

            span {
                display: inline-block;
                margin-right: 10px;
                font-size: 40px;
            }
        }

        &-links {
            padding-top: 14px;

            a {
                position: relative;
                display: inline-flex;
                align-items: center;
                transition: 0.3s;
                color: $main;

                &:hover {
                    color: $hover;

                    &:before {
                        background: $hover;
                    }
                }

                &::before {
                    content: "";
                    width: 9px;
                    height: 3px;
                    display: block;
                    margin-right: 10px;
                    transition: 0.3s;
                    background: $main;
                }

                &:not(:last-of-type) {
                    margin-right: 36px;
                }
            }
        }
    }

    &__arrow {
        position: absolute;
        z-index: 4;
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        pointer-events: auto;
        border: none;
        background: none;

        &[aria-disabled="true"] {
            cursor: default;
            pointer-events: none;

            .icon {
                fill: $grey;
            }
        }

        &:hover:not([aria-disabled="true"]) {
            .icon {
                fill: $hover;
            }
        }

        .icon {
            width: 40px;
            height: 40px;
            transition: 0.3s;

            fill: $main;
        }

        &-next {
            // top: 9.5%;
            // right: 9.5%;
            top: 9%;
            right: 15%;
        }

        &-prev {
            // bottom: 1.5%;
            // left: 1.5%;
            bottom: -5%;
            left: 15%;
        }
    }

    &__init {
        position: absolute;
        z-index: 0;
        top: 0;
        right: auto;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    &-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: auto;

        &__image {
            content: "";
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 1530px;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            transition: all 1.05s ease-in-out 0s;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
            opacity: .2;
            filter: grayscale(100%);
            > * {
                transition: 0.4s ease-in-out 0s;
            }

            &-main {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }

        }

        &__background {
            content: "";
            position: absolute;
            z-index: 0;
            top: 50px;
            right: 0;
            left: 0;
            width: 100%;
            max-width: 1530px;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            transition: all 1.05s ease-in-out 0s;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUyNyIgaGVpZ2h0PSI2MzIiIHZpZXdCb3g9IjAgMCAxNTI3IDYzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNzYzLjUgNjMyTDAgMzE2TDc2My41IDBMMTUyNyAzMTZMNzYzLjUgNjMyWiIgZmlsbD0iI0VDRUZGNSIvPjwvc3ZnPg==);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }

        &.swiper-slide-active {
            z-index: 1;
            opacity: 1;
            .slider-home-item__image {
                filter: grayscale(0%);
                opacity: 1;
                &-main{
                    opacity: 1;
                }
            }

        }

        &.swiper-slide-prev {
            z-index: 2;
            opacity: 1;
        }

        &.swiper-slide-next {
            z-index: 0;
            opacity: 1;
        }

        &.swiper-slide-prev,
        &.swiper-slide-next {
            .slider-home-item__image-main {
                opacity: 1;
            }

        }
    }
}

@media screen and (min-height: 1200px) {
    .slider {
        height: 115vh;
        padding-top: 200px;
    }

    .slider-home::after {
        top: 0;
    }
}

@media screen and (max-width: 1400px){
    .slider-home {
        &__text {
            margin-bottom: 9%;
        }
    }
}
@media screen and (max-width: 1200px) {
    .slider-home {
        max-height: 530px;
        margin-bottom: 100px;

        &:after {
            top: 100%;
        }

        &__arrow {
            &-prev {
            }

            &-next {
            }
        }

        &__title {
            max-width: 360px;
        }

        &__text {
            max-width: 350px;
        }

        &-item {
            &__image {
                max-width: 1160px;

                &-main {
                    background-size: contain;
                }

            }

            &__background {
                max-width: 1160px;
                background-size: contain;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .slider-home {
        &__text {
            margin-bottom: -10%;
        }

        &__arrow {
            &-next {
                // top: 3vw;
                // right: 12vw;
                top: 8vw;
                right: 7vw;
            }

            &-prev {
                // bottom: -10vw;
                // left: 10vw;
                bottom: -4vw;
                left: 7vw;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .slider-home {
        margin-bottom: 150px;

        &__text {
            margin-bottom: -20%;
        }
    }
}

@media screen and (max-width: 767px) {
    .slider-home {
        max-height: 400px;
        margin-bottom: 80px;

        &__title {
            padding-top: 20px;
        }

        &__arrow {
            display: none;
        }

        &-item {
            &__background {
                top: 10px;
            }

            &__image {
                &-main{
                    top: 40px;
                    left: 0;
                    width: 90%;
                    height: 80%;
                }
            }
        }
    }
}
