.slider
    section.slider-home
        .slider-home__container.container
            .slider-home__content.row
                .slider-home__content-wrapper.col-12
                    button.slider-home__arrow-prev.slider-home__arrow
                        +icon('arrow-slider-left','')
                    button.slider-home__arrow-next.slider-home__arrow
                        +icon('arrow-slider-right','')
                    .slider-home__title
                        h1.title
                            span.slider-home__title-colored Экспорт / Импорт
                            span через границу России <br />всего за 4 шага
                    .slider-home__text
                        .slider-home__text-wrapper.swiper-wrapper
                            .slider-home__text-slide.swiper-slide
                                .slider-home__text-counter
                                    span 1
                                    | /
                                    | 4
                                .slider-home__text-content
                                    p.subtitle Заключение контрактов и согласование условий поставки
                                .slider-home__text-links
                                    a(href="./services-export.html").subtitle Экспорт
                                    a(href="./services-import.html").subtitle Импорт
                            .slider-home__text-slide.swiper-slide
                                .slider-home__text-counter
                                    span 2
                                    | /
                                    | 4
                                .slider-home__text-content
                                    p.subtitle Таможенное оформление и сертификация
                                .slider-home__text-links
                                    a(href="./services-export.html").subtitle Экспорт
                                    a(href="./services-import.html").subtitle Импорт
                            .slider-home__text-slide.swiper-slide
                                .slider-home__text-counter
                                    span 3
                                    | /
                                    | 4
                                .slider-home__text-content
                                    p.subtitle Доставка товара покупателю
                                .slider-home__text-links
                                    a(href="./services-export.html").subtitle Экспорт
                                    a(href="./services-import.html").subtitle Импорт
                            .slider-home__text-slide.swiper-slide
                                .slider-home__text-counter
                                    span 4
                                    | /
                                    | 4
                                .slider-home__text-content
                                    p.subtitle Доставка товара покупателю
                                .slider-home__text-links
                                    a(href="./services-export.html").subtitle Экспорт
                                    a(href="./services-import.html").subtitle Импорт
        .slider-home__init
            .slider-home__wrapper.swiper-wrapper
                .slider-home-item.swiper-slide
                    .slider-home-item__image
                        .slider-home-item__image-main(style="background-image: url('./img/slide-1.png')")
                        .slider-home-item__image-mask(style="background-image: url('./img/slide-1-mask.png')")
                    .slider-home-item__background
                .slider-home-item.swiper-slide
                    .slider-home-item__image
                        .slider-home-item__image-main(style="background-image: url('./img/slide-2.png')")
                        .slider-home-item__image-mask(style="background-image: url('./img/slide-2-mask.png')")
                    .slider-home-item__background
                .slider-home-item.swiper-slide
                    .slider-home-item__image
                        .slider-home-item__image-main(style="background-image: url('./img/slide-3.png')")
                        .slider-home-item__image-mask(style="background-image: url('./img/slide-3-mask.png')")
                    .slider-home-item__background
                .slider-home-item.swiper-slide
                    .slider-home-item__image
                        .slider-home-item__image-main(style="background-image: url('./img/slide-4.png')")
                        //- .slider-home-item__image-mask(style="background-image: url('./img/slide-3-mask.png')")
                    .slider-home-item__background
