
section.slider-home
	.slider-home__container
		.slider-home__content
			.slider-home__title
				h1.title 
					span Экспорт / Импорт
					span через границу России всего за 4 шага
				button.slider-home__prev.slider-arrow
					i.icon-left-arrow
				button.slider-home__next.slider-arrow
					i.icon-right-arrow
			.slider-home__wrapper.swiper-wrapper
				.slider-home-item.swiper-slide
					.slider-home-item__image(style="background-image: url('./img/banner-1.png')")
				.slider-home-item.swiper-slide
					.slider-home-item__image(style="background-image: url('./img/banner-1.png')")
				.slider-home-item.swiper-slide
					.slider-home-item__image(style="background-image: url('./img/banner-1.png')")
				.slider-home-item.swiper-slide
					.slider-home-item__image(style="background-image: url('./img/banner-1.png')")
