section.gridLinks.gridLinks--customClearance.section-offset
    .gridLinks__container
        .gridLinks__header.row
            .gridLinks__title.col-12
                h3.subtitle Можно выделить следующие составляющие этого этапа:
        .gridLinks__content
            ul
                li
                    a(href="#") Декларирование товаров при Экспорте
                li
                    a(href="#") Декларирование товаров при Импорте
                li
                    a(href="#") Регистрация участника ВЭД в&nbsp;таможенных органах
                li
                    a(href="#") Представление интересов в&nbsp;таможенных органах
                li
                    a(href="#") Составление внешнеторговых контрактов
                li
                    a(href="#") Оформление товаросопроводительных документов (CMR, TIR, ТТН)
                li
                    a(href="#") Участие в&nbsp;досмотрах
                li
                    a(href="#") Оплата услуг СВХ и&nbsp;таможенных платежей
                li
                    a(href="#") Оформление корректировки таможенной стоимости (КТС)
                li
                    a(href="#") Услуги перевода