section.gridLinks.gridLinks--import.section-offset(data-aos="fade-up")
    .gridLinks__container
        .gridLinks__header.row(data-aos="fade-up")
            .gridLinks__title.col-12
                h3.subtitle Можно выделить следующие составляющие этого этапа:
        .gridLinks__content
            ul
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.
                li(data-aos="fade-up")
                    a(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing.