section.gridLinks.gridLinks--customClearance.section-offset(data-aos="fade-up")
    .gridLinks__container
        .gridLinks__header.row(data-aos="fade-up")
            .gridLinks__title.col-12
                h3.subtitle Можно выделить следующие составляющие этого этапа:
        .gridLinks__content
            ul
                li(data-aos="fade-up")
                    a(href="#") Декларирование товаров при Экспорте
                li(data-aos="fade-up")
                    a(href="#") Декларирование товаров при Импорте
                li(data-aos="fade-up")
                    a(href="#") Регистрация участника ВЭД в&nbsp;таможенных органах
                li(data-aos="fade-up")
                    a(href="#") Представление интересов в&nbsp;таможенных органах
                li(data-aos="fade-up")
                    a(href="#") Составление внешнеторговых контрактов
                li(data-aos="fade-up")
                    a(href="#") Оформление товаросопроводительных документов (CMR, TIR, ТТН)
                li(data-aos="fade-up")
                    a(href="#") Участие в&nbsp;досмотрах
                li(data-aos="fade-up")
                    a(href="#") Оплата услуг СВХ и&nbsp;таможенных платежей
                li(data-aos="fade-up")
                    a(href="#") Оформление корректировки таможенной стоимости (КТС)
                li(data-aos="fade-up")
                    a(href="#") Услуги перевода