section.gridLinks.gridLinks--export.section-offset(data-aos="fade-up")
    .gridLinks__container
        .gridLinks__header.row(data-aos="fade-up")
            .gridLinks__title.col-12
                h3.subtitle Можно выделить следующие составляющие этого этапа:
        .gridLinks__content
            ul
                li(data-aos="fade-up")
                    a(href="#") Поиск поставщиков в&nbsp;России
                li(data-aos="fade-up")
                    a(href="#") Таможенный транзит
                li(data-aos="fade-up")
                    a(href="#") Продвижение российских товаров на&nbsp;зарубежных рынках
                li(data-aos="fade-up")
                    a(href="./services-tamozhennoe-oformlenie.html") Таможенное оформление и&nbsp;сертификация
                li(data-aos="fade-up")
                    a(href="#") Реэкспорт
                li(data-aos="fade-up")
                    a(href="./services-dostavka-tovara.html") Доставка товара иностранному покупателю
                li(data-aos="fade-up")
                    a(href="#") Временный вывоз
                li(data-aos="fade-up")
                    a(href="#") Документы для&nbsp;экспорта
                li(data-aos="fade-up")
                    a(href="#") Переработка вне&nbsp;таможенной территории