section.gridLinks.gridLinks--export.section-offset
    .gridLinks__container
        .gridLinks__header.row
            .gridLinks__title.col-12
                h3.subtitle Можно выделить следующие составляющие этого этапа:
        .gridLinks__content
            ul
                li
                    a(href="#") Поиск поставщиков в&nbsp;России
                li
                    a(href="#") Таможенный транзит
                li
                    a(href="#") Продвижение российских товаров на&nbsp;зарубежных рынках
                li
                    a(href="./services-tamozhennoe-oformlenie.html") Таможенное оформление и&nbsp;сертификация
                li
                    a(href="#") Реэкспорт
                li
                    a(href="./services-dostavka-tovara.html") Доставка товара иностранному покупателю
                li
                    a(href="#") Временный вывоз
                li
                    a(href="#") Документы для&nbsp;экспорта
                li
                    a(href="#") Переработка вне&nbsp;таможенной территории