.footer {
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: -190px;
    padding-top: 298px;

    a {
        transition: 0.3s;

        &:hover {
            color: $hover;
        }
    }

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        display: block;
        background: linear-gradient(
            360deg,
            #eceff5 -0.17%,
            rgba(255, 255, 255, 0) 99.85%,
            #ffffff 99.85%
        );
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 298px;
        display: block;
        border-bottom: 300px solid transparent;
        border-left: 610px solid white;
    }

    > * {
        padding-right: 0;
        padding-left: 0;
    }

    &__logo {
        align-items: center;
    }

    &__top {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        margin-top: 55px;
        margin-bottom: 40px;
    }

    &__fast-links {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__menu {
        margin-bottom: 30px;

        a {
            color: $main;

            &:not(:last-child) {
                padding-bottom: 10px;
            }
        }

        .footer__menu-label {
            display: block;
            padding-bottom: 18px;
            color: black;
            font-weight: bold;
        }
    }

    &__accordion {
        position: relative;

        &-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }
    }

    &__bottom {
        > * {
            @include border(1px);
        }
    }

    &__contacts {
        padding-top: 34px;
        padding-bottom: 34px;

        &-title {
            display: block;
            margin-bottom: 15px;
        }

        &-item {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;

            .icon {
                width: 26px;
                height: 26px;
                margin-right: 14px;
                fill: $main;

                &-contacts-phone,
                &-contacts-email {
                    width: 1em;
                    height: 1em;
                    margin: 0 18px 0 3px;
                    font-size: 1.1rem;
                }
            }

            span {
                color: black;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__map {
        padding: 10px;

        a {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }

    &__other {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;

        &-image {
            width: 126px;
            flex: 0 0 auto;
            margin-right: 20px;
        }

        &-list {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;

            > *:not(:last-child) {
                display: block;
                margin-bottom: 10px;
            }

            a {
                color: $main;
            }
        }
    }

    &__copyright {
        padding: 36px 0;

        &-content {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__container {
            width: calc(100% + 20px);
            max-width: none;
            margin-right: -10px;
            margin-left: -10px;
        }

        &__nav {
            margin: 0 auto;
        }

        &__bottom {
            padding-right: 40px;
            padding-left: 40px;
        }

        &__copyright {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__top {
            align-items: flex-start;
            margin-top: 30px;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
        }

        &__nav {
            margin-right: 0;
            margin-bottom: 20px;
            margin-left: 0;
        }

        &__fast-links {
            align-items: flex-start;
            flex-direction: column;
        }

        &__menu {
            margin-bottom: 0;

            &:not(.footer__accordion) {
                display: none;
            }
        }

        &__accordion {
            height: 30px;
            overflow: hidden;

            &.accordion--active {
                .footer__accordion-content {
                    opacity: 1;
                }

                .icon {
                    transform: rotate(180deg);
                }
            }

            .icon {
                width: 1em;
                transition: 0.3s;
            }

            &-content {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                padding-left: 10px;
                transition: 0.3s 0.1s;
                opacity: 0;
                border-left: 1px solid $grey;
            }
        }

        &__copyright {
            &-content {
                flex-direction: column;

                a {
                    display: inline-flex;
                    margin-top: 20px;
                }
            }
        }
    }
}
