footer.footer
	.footer__container.container
		.footer__wrapper.row
			.footer__top.col-12.row
				a(href="").footer__logo.col-md-3.col-lg-4.d-none.d-md-flex
					img(src="./img/logo.png", alt="", class="logo")
				.footer__fast-links.col-md-9.col-lg-8
					a(href="").subtitle О компании
					a(href="./services.html").subtitle Все услуги
					a(href="").subtitle Инвесторам
					a(href="./special-offers.html").subtitle Акции
					a(href="./contacts.html").subtitle Контакты
			.footer__nav.col-12.row
				.footer__menu.col-md-6.col-lg-4.footer__accordion.accordion
					.footer__accordion-button.subtitle.d-flex.d-md-none.accordion__button
						span Экспорт из России
						+icon('arrow-down', '')
					.footer__menu-label.d-none.d-md-block Экспорт из России
					.footer__accordion-content
						a(href="").text-mini Заключение контрактов и согласование условий поставки
						a(href="").text-mini Таможенное оформление и сертификация
						a(href="").text-mini Доставка товара иностранному покупателю
						a(href="").text-mini Завершение сделки
						a(href="").text-mini Документы для Экспорта
						a(href="").text-mini Реэкспорт
						a(href="").text-mini Временный вывоз
						a(href="").text-mini Переработка вне таможенной территории
						a(href="").text-mini Таможенный транзит
						a(href="").text-mini Продвижение российских товаров и услуг на иностранных рынках
						a(href="").text-mini Поиск поставщиков в России
				.footer__menu.col-md-6.col-lg-4.footer__accordion.accordion
					.footer__accordion-button.subtitle.d-flex.d-md-none.accordion__button
						span Импорт из России
						+icon('arrow-down', '')
					.footer__menu-label.d-none.d-md-block Импорт из России
					.footer__accordion-content
						a(href="").text-mini Заключение контрактов и согласование условий поставки
						a(href="").text-mini Таможенное оформление и сертификация
						a(href="").text-mini Доставка товара иностранному покупателю
						a(href="").text-mini Завершение сделки
						a(href="").text-mini Документы для Импорта
						a(href="").text-mini Реэкспорт
						a(href="").text-mini Временный ввоз
						a(href="").text-mini Временный вывоз
						a(href="").text-mini Переработка вне таможенной территории
						a(href="").text-mini Таможенный транзит
						a(href="").text-mini Таможенный склад
						a(href="").text-mini Продвижение российских товаров и услуг на иностранных рынках
						a(href="").text-mini Поиск поставщиков в России
				.footer__menu.col-md-6.col-lg-4.footer__accordion.accordion
					.footer__accordion-button.subtitle.d-flex.d-md-none.accordion__button
						span Грузопереозки
						+icon('arrow-down', '')
					.footer__menu-label.d-none.d-md-block Грузопереозки
					.footer__accordion-content
						a(href="").text-mini Международные перевозки
						a(href="").text-mini Автомобильные перевозки
						a(href="").text-mini Железнодорожные перевозки
						a(href="").text-mini Морские и речные перевозки
						a(href="").text-mini Авиадоставка
						a(href="").text-mini Мультимодальные перевозки
						a(href="").text-mini Негабаритные перевозки
						a(href="").text-mini Проектные перевозки
						a(href="").text-mini Контейнерные перевозки
						a(href="").text-mini Доставка сборных грузов из Европы и Китая
						a(href="").text-mini Таможенный склад
						a(href="").text-mini Карго доставка из Китая и Европы
						a(href="").text-mini Страхование грузов
				.footer__menu.col-md-6.col-lg-4.footer__accordion.accordion
					.footer__accordion-button.subtitle.d-flex.d-md-none.accordion__button
						span Таможенное оформление
						+icon('arrow-down', '')
					.footer__menu-label.d-none.d-md-block Таможенное оформление
					.footer__accordion-content
						a(href="").text-mini Декларирование товаров при Экспорте
						a(href="").text-mini Декларирование товаров при Импорте
						a(href="").text-mini Регистрация участника ВЭД в таможенных органах
						a(href="").text-mini Представление интересов в таможенных органах
						a(href="").text-mini Составление внешнеторговых контрактов
						a(href="").text-mini Оформление товаросопроводительных документов (CMR, TIR, ТТН) 
						a(href="").text-mini Участие в досмотрах
						a(href="").text-mini Оплата услуг СВХ и таможенных платежей
						a(href="").text-mini Услуги перевода
						a(href="").text-mini Стоимость услуг
				.footer__menu.col-md-6.col-lg-4.footer__accordion.accordion
					.footer__accordion-button.subtitle.d-flex.d-md-none.accordion__button
						span Услуги дистрибьютора
						+icon('arrow-down', '')
					.footer__menu-label.d-none.d-md-block Услуги дистрибьютора
					.footer__accordion-content
						a(href="").text-mini Услуги дистрибьютора
						a(href="").text-mini Изучение спроса на предлагаемые иностранные товары
						a(href="").text-mini Изучение спроса на предлагаемые иностранные товары
						a(href="").text-mini Организация рекламных компаний
						a(href="").text-mini Продвижение иностранных товаров на ранке России
						a(href="").text-mini Создание филиалов и представительств
				.footer__menu.col-md-6.col-lg-4
					a(href="").footer__menu-label Сертификация
					a(href="").footer__menu-label Аутсорсинг ВЭД
					a(href="").footer__menu-label Сопровождение ВЭД
					a(href="").footer__menu-label Маркетинг и реклама в сфере ВЭД
			.footer__bottom.col-12.row.no-gutters-row
				.footer__contacts.col-md-6.col-lg-4
					span.text-bold.footer__contacts-title Челябинск
					a(href="tel:+73517000204").footer__contacts-item
						+icon('contacts-phone','')
						span.text-mini +7 (351) 700-02-04
					a(href="mailto:info@trans-s.su").footer__contacts-item
						+icon('contacts-email','')
						span.text-mini info@trans-s.su
					address.footer__contacts-item
						+icon('contacts-adress','')
						span.text-mini ул. Энтузиастов 30, офис 405, 406 <br>454020, г. Челябинск
				.footer__map.col-md-6.col-lg-4
					a(href="") 
						img(src="./img/map.png", alt="")
				.footer__other.col-md-12.col-lg-4
					.footer__other-image
						img(src="./img/book-with-magnifier.svg", alt="book-with-magnifier.svg")
					.footer__other-list
						span.text-bold Справочная информация
						a(href="").text-mini Полезная информация
						a(href="").text-mini Инкотермс
						a(href="").text-mini Таможенный кодекс
			.footer__copyright.col-12.row.no-gutters-row
				.footer__copyright-content.col-12
					span.text-bold РУСЭКСПОРТ, 2019
					a(href="http://dolinger-web.ru", target="_blank", rel="nofollow")
						img(src="./img/dolinger.svg", alt="dolinger.svg")